


.subpage.outers_middle_content1{
	.conts_pServices.conts_Blog{

		.rights_cont{
			padding-left: 0;
			padding-right: 25px;

			border-left: 0px;
			border-right: 1px solid #ccc;
		}

		.lefts.widget-blog{
			padding-left: 25px;
			h5{
				border-bottom: 3px solid #000;
				display: inline-block; padding-bottom: 2px;
			}
		}

		.lists_data_defaults_lh .items .info h6{
			line-height: 1.3;
		}
		.lists_data_defaults_lh .items .info a:focus,
		.lists_data_defaults_lh .items .info a:hover{
			color: #03aced;
			h6{
				color: #03aced;
			}
		}
		.lists_data_defaults_lh .items{
			margin-bottom: 30px;
		}

		// Detail blog
		.box-details_blog{
			.pictures{
				img{}
			}
			img{
				max-width: 100%;
			}
			h3.title{
				font-weight: 700;
				font-size: 25px;
				margin-bottom: 0.7em;
			}

			ol li,
			ul li,
			p{
				font-size: 14px;
			}
		}

	}
	clear: both;
}

