/*----------------------- IMPORT FONT ------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
// font-family: 'Roboto', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
// font-family: 'Poppins', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
// font-family: 'Roboto Condensed', sans-serif;

// 992
@Roboto: 'Roboto', sans-serif;
@poppins: 'Poppins', sans-serif;
@roboto_con: 'Roboto Condensed', sans-serif;

@font_set: 'Poppins', 'Roboto', sans-serif;

@background: #fff;

/*-------------------------- -- GENERAL -------------------------*/
img{
    border: none;
    user-drag: none;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
html,body{
    height: 100%;
    /*width: 100%;*/
}
#pushstat{ display: none; }
body{
    background: transparent;
    margin: 0;
    padding: 0;
    
    font-family: @font_set;
    font-weight: 400;
    font-size: 12px;
    
    color: #000;
    background-color: @background;
}
html, body{
  margin: 0px; padding: 0px;
}

a:focus{
    outline: none;
}
html, body, p, span, div, h1, h2, h3 ,h4 ,h5 ,h6, ul, li, ol, a, table, tr, td, th{
    font-family: @font_set;
    font-weight: 400;
}

.prelatif{
    position: relative;
    /*height: 100%;*/
}
.prelatife{
    position: relative;
}
body{
    /*test for not responsive*/
    /*min-width: 1397px;*/
}
@media (min-width: 1365px){
    .container {    
        max-width: 1397px;
        /*width: 1397px;*/
    }
}
.h100per{
  height: 100%;
}

.container {
    /*height: 100%;*/
    /*test for not responsive*/
    /*min-width: 1397px;*/

    max-width: 1397px;
    width: 1397px;
    margin: 0 auto;
    padding: 0px;
}
.container_footer{
  max-width: 1050px;
  margin: 0 auto;
}

.center{
    text-align: center;
}
.tengah{
    margin: 0 auto;
    padding: 0px;
}
.row{
    margin: 0px;
}
[class*="span"] {
    margin: 0;
}
[class*="col-xs"]{
    padding: 0;
}
[class*="col-md"] {
    padding: 0;
}
[class*="col-lg"] {
    padding: 0;
}
.row.default{
  margin: 0 -15px;
}
.row.default > [class*="span"],
.row.default > [class*="col-xs"],
.row.default > [class*="col-md"],
.row.default > [class*="col-sm"],
.row.default > [class*="col-lg"]
{
    padding: 0 15px;
}
.d-inline{
  display: inline-block;
  vertical-align: top;
}

#preloader {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dadbdb url(../images/bgloader.jpg) left top repeat-x;
    height: 100%;
    z-index: 1500;
}
#statusloader {
    text-align: center;
    margin: 0 auto;
    left: inherit;
    width: 100%;
    vertical-align: middle;

    height: 100px;
    position: absolute;
    top: 36%;
    background-image: url(../images/loading2.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.d-inline{ display: inline-block; }

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

// -----------------------------------------------------------
.back-white{
  background-color: #fff;
}
.d-inline.v-top{
  display: inline-block;
  vertical-align: top;
}
.h100p{
  height: 100%;
}

.v-top{
  vertical-align: top;
}
img.pc-center{
  display: block; margin: 0 auto; text-align: center;
}
.mb-0{
  margin-bottom: 0;
}
.lines-white{
  height: 1px; background-color: #fff;
}

a:focus,
a:hover{
  text-decoration: none;
}

header.head{
  position: relative;
  z-index: 15;

  width: 100%;
  height: 175px;
  background: url(../images/back_header_nj1.jpg) repeat-x; 
  .visible-lg,
  .container{
    height: 100%;
    .ins{
      height: 100%;
    }
  }
  .afx_rights_headertop_fn{
    position: fixed;
    top: 115px;
    right: 0px;
    z-index: 350;

    background: url(../images/bloc_tops_ffx_rightHeader.png) no-repeat;
    width: 240px;
    height: 77px;
    span{
      display: block;
      padding: 45px 53px;
      font-family: @roboto_con;
      font-size: 18px; font-weight: 400; color: #fff;
    }
  }
  .ins{
    .lgo_web_header{
      position: relative;
      height: 100%;
      padding-top: 4px;
      img.lgo2{
        padding-top: 6px;
      }
      span{
        margin: 0; padding: 0;
        display: inline-block;
        padding-top: 43px;
        font-size: 20px; font-weight: 600; font-style: italic;
        color: #000;
        line-height: 1;
      }
    }

    .tops{
      height: 45px; overflow: hidden;
      .left_tp_header{
        display: inline-block;
        width: auto; text-align: left;
        a{
          font-size: 16px;
          font-weight: 400; color: #fff;
          text-align: center;
          text-decoration: none;
          height: 45px;
          display: inline-block;
          width: auto;
          padding: 10px 27px 8px;
          float: left;
        }
        a.backs_blue1{
          background-color: #6190dd;
        }
        a.backs_blue1:hover,
        a.backs_blue1:focus{
          background-color: #6190dd;
          text-decoration: none;
        }
        a.backs_blue2{
          background-color: #4278d1;
        }
        a.backs_blue2:hover,
        a.backs_blue2:focus{
          background-color: #4278d1;
          text-decoration: none;
        }
        a.backs_blue3{
          background-color: #2c65c3;
        }
        a.backs_blue3:hover,
        a.backs_blue3:focus{
          background-color: #2c65c3;
          text-decoration: none;
        }
        
      }
      
      .rights_tp_headers{
        .bsx-choose_region{
          padding-top: 5px;
          padding-right: 23px;
          select.form-control{
            display: inline-block;
            background: none; background-color: transparent;
            box-shadow: none; border: 0px;
            border-radius: 0px;

            font-size: 14px; font-weight: 600; color: #fff;
          }
          select:hover{
            option{
              background: #6190dd;
              color: #fff;
            }
            option:hover{
              color: #f5f5f5;
            }
          }
        }
        .box_search_hdr{
          display: inline-block;
          form{
            margin: 0; padding: 0;
            background-color: transparent;
            border: 0px;
            position: relative;
            .form-group{
              margin-bottom: 0;
              input{
                background-color: #2c65c3;
                font-size: 13px; font-weight: 400; color: #fff;
                letter-spacing: 0px;
                border: 0px;
                border-radius: 0px;
                padding-left: 20px; padding-right: 20px;
                width: 270px;
                height: 45px;
                box-shadow: none;
              }
              ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: white;
              }
              ::-moz-placeholder { /* Firefox 19+ */
                color: white;
              }
              :-ms-input-placeholder { /* IE 10+ */
                color: white;
              }
              :-moz-placeholder { /* Firefox 18- */
                color: white;
              }
              input:hover,
              input:focus{
                box-shadow: none;
              }
            }
            button.btn{
              position: absolute;
              right: 15px; 
              top: 10px;
              padding: 0px;
              i.fa{
                font-size: 15px;
                color: #fff;
              }
            }
          }
          clear: both;
        }
        .bxn_right_language{
          padding-left: 23px;
          display: inline-block;
          padding-top: 13px;
          font-size: 13px; font-weight: 600; color: #fff;
          line-height: 1; text-decoration: none;
          a{
            font-size: 14px; font-weight: 600; color: #fff;
            line-height: 1; text-decoration: none;
          }
          a.active,
          a:hover{
            text-decoration: none; color: #9dde11;
          }
        }
      }
      
      clear: both;
    }
    .bottoms{
      .lgo_web_header{
        padding-top: 5px;
        a{
          display: inline-block;
          img{
            border: 0px;
          }
        }
      }
      clear: both;
    }

    clear: both;
  }

  .top-menu{
      display: block;
      text-align: right;
      ul{
        margin: 0px; padding: 0px;
        li{
          margin: 0; padding: 0px 14px;
          a{
            font-size: 14px;
            font-weight: 500;
            color:#404040;
            text-decoration: none;
            text-transform: uppercase;
          }
        }

        li:last-child{
          padding-right: 0;
        }
        li:first-child{
          padding-left: 0;
        }
        li.active,
        li:hover{
          a{ text-decoration: none; color: #c61d23; }
        }
      }
    }
  // end top menu
  clear: both;  
}

// .header-affixs.affix-top{ top: -1000px; position: fixed; visibility: collapse; }
// .header-affixs.affix{ top: 0px; left: 0px; }
// .header-affixs{
//     background-color: rgba(255, 255, 255, 0.90);
//     width: 100%;
//     z-index: 1000;
//     height: 75px;
//     border-bottom: 3px solid #835f20;
//     z-index: 1000;
//     .lgo-web-web_affix{
//       a{
//         font-family: @font_set;
//         font-size: 24px; font-weight: 700; color: #252223;
//         text-decoration: none; text-transform: uppercase;
//       }
//     }
// }
// .menu-taffix{
//     text-align: right;
// }
// .menu-taffix ul{ margin: 0; padding: 0px; float: none; }
// .menu-taffix ul li{ padding: 0px; padding: 5px 15px; float: none; display: inline-block; }
// .menu-taffix ul li a{ font-family: @font_set; font-size: 16px; font-weight: 700; display: inline-block; padding-top: 0; color: #000; padding-left: 0; padding-right: 0; text-decoration: none; text-transform: uppercase; }
// .menu-taffix ul li.active a,
// .menu-taffix ul li a:hover{ text-decoration: none; color: #835f20; background-color: transparent; }

.m-0,
h1.m-0{ margin: 0; }

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.outers_fcs_wrapper{
  position: relative; z-index: 2;

  // max-height: 583px;
  // min-height: 580px;

  // height: 100%;
  overflow: hidden;
  .carousel{
    // height: 100%;
    .carousel-inner{
      // height: 100%;
      .item{
        // height: 100%;
      }
    }  
  }
  .carousel-inner{
    .item{
      img.full_img{ 
        width: 100%; 
        max-height: 776px;
      }
    }
  }
  ol.carousel-indicators{
    bottom: 20px;
    margin: 0;
    width: auto;
    z-index: 300;
    li{
      border: 0px;
      border-radius: 0px;
      width: 12px; height: 12px;
      background: url(../images/toc-fcs.png) no-repeat;
      margin: 0 2.5px;
    }
    li:hover,
    li:focus,
    li.active{
      border: 0px;
      border-radius: 0px;
      width: 12px; height: 12px;
      background: url(../images/toc-fcs-active.png) no-repeat; 
      margin: 0 2.5px;
    }
  }
    // end carousel indicator
    .carousel-caption{
      right: inherit;
      left: 0px;
      padding-bottom: 0;
      padding-top: 0;
      text-shadow: none;
      bottom: 30%;
      width: 100%;

      .wrap_info_slide{
        max-width: 610px; 
        text-align: left;
        margin-right: 30px;
        float: right;
        .ins{

        }
        h3{
          font-size: 45px; font-weight: 400; color: #134392;
          line-height: 0.9;
          margin: 0; padding: 0;
          margin-bottom: 10px;
        }
        h6{
          display: block;
          font-size: 55px; font-weight: 600; color: #404040;
          line-height: 0.9;
          margin: 0; padding: 0;
          margin-bottom: 10px;
        }
        p{
          font-size: 16px; font-weight: 400; color: #414141;
          line-height: 1.3;
          margin: 0; padding: 0;
          margin-bottom: 20px;
        }
        a.btns_vc_slide{
          margin: 0; padding: 0; 
          display: inline-block;
          text-align: left;
          font-size: 18px; font-weight: 500; color: #69950a;
        }
        a.btns_vc_slide:after{
          content: "";
          display: inline-block;
          margin-left: 15px;
          background: url(../images/bnc_icon_right_btn.png) no-repeat;
          width: 22px; height: 22px;
          position: relative;
          top: 3px;
        }
        a.btns_vc_slide:hover,
        a.btns_vc_slide:focus{
          text-decoration: none;
          color: #000;
        }
      }
    }
    img{
      margin: 0;
    }
}

.Defaults_slide{
  .carousel-inner{
    img{
      width: 100%;
    }
  }

  ol.carousel-indicators{
    bottom: -35px;
    margin: 0;
    width: auto;
    z-index: 300;
    li{
      border: 0px;
      border-radius: 0px;
      width: 12px; height: 12px;
      background: url(../images/toc-fcs.png) no-repeat;
      margin: 0 2.5px;
    }
    li:hover,
    li:focus,
    li.active{
      border: 0px;
      border-radius: 0px;
      width: 12px; height: 12px;
      background: url(../images/toc-fcs-active.png) no-repeat; 
      margin: 0 2.5px;
    }
  }
}

section.default_sc{
  background-color: #fff;
  min-height: 300px; width: 100%;
  .prelatife.container_w2,
  .prelatife.container{
    padding-top: 4.5em; padding-bottom: 4.5em;
  }
}

section.default_sc#block_homesection1{
  background-color: #f1f1f1; width: 100%; min-height: 270px; height: auto;
  background-size: cover;
  height: auto;
  border-top: 7px solid #fff;
  .prelatife.container{
    padding-top: 0; padding-bottom: 0;
  }
  // display: table;
  // width: 100%; vertical-align: middle;
  // text-align: center;
  .insides{
    .lists_banner_home_d1{
      .items{
        border-left: 7px solid #fff;
        .info{
          max-width: 155px;
          position: absolute;
          top: 0px; right: 0px;
          margin-top: 60px;
          margin-right: 25px;
          p{
            margin: 0; padding: 0;
            font-size: 15px; font-weight: 500; color: #404040;
            line-height: 1.4;
            text-transform: uppercase;
          }
          a.views_exBanner{
            text-align: left;
            padding: 0;
            text-decoration: none;
            font-size: 17px; font-weight: 400; color: #69950a;
            display: block;
          }
          a.views_exBanner:after{
            content: "";
            display: block;
            background: url(../images/bnc_icon_right_btn.png) no-repeat;
            width: 22px; height: 22px;
          }
          clear: both;
        }
      }
      .col-md-4:last-child{
        .items{
          border-right: 7px solid #fff;
        }
      }
    }
    clear: both;
  }
}

.posabs_fulls{
  position: absolute;
  z-index: 60; width: 100%; height: 100%;
  top: 0px; left: 0px;
}


.back-whiteimp{
  background-color: #fff !important;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

footer.foot{
  position: relative;
  background-color: #fff;
  min-height: 150px;
  height: auto;
  z-index: 1;
  font-family: @poppins;
  font-size: 12px; font-weight: 400; color: #666666;
  a{
    text-decoration: none;
    color: #666666;
  }
  padding-top: 40px;
  .insides_footer{
    .tops_footer{
      .lgo_footers{}
      .blk_menuFooter{
        h6{
          margin: 0; padding: 0;
          padding-bottom: 18px;
          font-size: 17px; font-weight: 500; color: #404040;
        }
        ul.list-unstyled{
          list-style: none; margin: 0; padding: 0;
          li{
            margin: 0; padding: 0;
            padding: 3px 0;
            a{
              font-size: 15px; font-weight: 400; color: #666666;
            }
          }
        }
      }
    }
    .line_footer{
      height: 1px;
      background-color: #d7d7d7;
    }
    clear: both;
    .socmed_footer{
      a{
        text-decoration: none;
        i.fa{
          font-size: 16px; color: #666666;
        }
      }
      a:hover,
      a:focus{
        i.fa-twitter{
          color: #4099FF;
        }
        i.fa-instagram{
          color: #e95950;
        }
        i.fa-facebook{
          color: #3b5998;
        }
        i.fa-linkedin{
          color: #0077B5;
        }
        i.fa-youtube{
          color: #bb0000;
        }
      }
    }
    .btms_mnfooter{
      font-family: @poppins;
      font-size: 11px; font-weight: 400; color: #666666;
      a{
        text-decoration: none;
        font-family: @poppins;
        font-size: 12px; font-weight: 400; color: #666666;
      }
      a:hover,
      a:focus{
        text-decoration: none;
        color: #000;
      }
    }
  }
  clear: both;
}
// end footer


.subpage{
  position: relative;
  z-index: 1;
  margin: 0; padding: 0;
  min-height: 450px; height: auto; width: 100%;;
  background-color: #e9e6e1;
}

a.btns_set_default,
button.btns_set_default{
  background: none; border-radius: 0px;
  box-shadow: none; border: 0px;
  background-color: transparent;

  text-transform: uppercase; font-family: @poppins;
  font-size: 12px; font-weight: 600; color: #fff;
  letter-spacing: 2px;
  padding: 14px 25px;
  background-color: #1063ac;
}
a.btns_set_default:hover,
a.btns_set_default:focus,

button.btns_set_default:hover,
button.btns_set_default:focus{
  opacity: 0.9;
  box-shadow: none; border: 0px;
  outline: none; background-color: #0E5CA1;
  color: #fff;
}

// insides page
section.top_inside_pg_default{
  width: 100%;
  height: 199px;

  // background: url(../images/backs_top_section_insidepage_pttern.jpg) no-repeat;
  position: relative;
  // z-index: 25;
  z-index: 10;  
  background-size: 100% 100%;
  h1.sub_titlepage{
    margin: 0; padding: 0;
    font-size: 54px; font-weight: 500; color: #000; text-align: center;
  }

}
.out_table{
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  .in_table{
      display: table-cell;
      text-align: center; 
      vertical-align: middle;
      width: 100%;
      height: 100%;
  }
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.carousel.fade {
    opacity: 1;
}
.carousel.fade .item {
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    left: 0 !important;
    opacity: 0;
    top:0;
    position:absolute;
    width: 100%;
    display:block !important;
    z-index:1;
}
.carousel.fade .item:first-child {
    top:auto;
    position:relative;
}
.carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    z-index:2;
}
.pict_full{
  img{ width: 100%; max-width: 100%; }
}

.lines-grey{
  height: 2px;
  background-color: #8a8988;
}
.inline-pict{
  display: inline-block;
  vertical-align: middle;
}

// subpage
.subpage_top_banner_illustration{
  background:#f1f1f1 url(../images/ill-about-1.jpg) top right no-repeat;
  min-height: 275px; height: 275px;
  width: 100%;
  position: relative;
  z-index: 2;
  .info{
    h2{
      margin: 0; padding: 0; text-transform: uppercase;
      font-size: 30px; font-weight: 400; color: #134392;
      line-height: 1;
      padding-bottom: 16px;
    }
    h4{
      margin: 0; padding: 0;
      font-size: 55px; font-weight: 700; color: #404040;
      line-height: 0.9;
      text-transform: uppercase;
    }
    clear: both;
  }
  clear: both;
}
.subpage_top_banner_illustration.pg_about{
  background:#f1f1f1 url(../images/ill-about-1.jpg) top right no-repeat;
}
.subpage_top_banner_illustration.pg_service{
  background:#f1f1f1 url(../images/ill-services-1.jpg) top right no-repeat;
}
.subpage_top_banner_illustration.pg_findExpert{
  background:#f1f1f1 url(../images/ill-finds_expert-1.jpg) top right no-repeat;
}
.subpage_top_banner_illustration.pg_events{
  background:#f1f1f1 url(../images/ill-events-1.jpg) top right no-repeat;
}
.subpage_top_banner_illustration.pg_video{
  background:#f1f1f1 url(../images/ill-videos-1.jpg) top right no-repeat;
}
.subpage_top_banner_illustration.pg_products{
  background:#f1f1f1 url(../images/ill-products-1.jpg) top right no-repeat;
}
.subpage_top_banner_illustration.pg_contact{
  background:#f1f1f1 url(../images/ill-contact-1.jpg) top right no-repeat;
}

.blocks_spn_backtops{
  background-color: #f1f1f1;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  a.btns_to_top{
    display: block;
    text-decoration: none;
    padding: 0;
    font-family: @poppins;
    font-size: 14px; font-weight: 500; color: #134392;
    i.fa{
      font-size: 14px; color: #134392;
    }
  }
}

.maw1035{
  max-width: 1015px;
}
.middle_conts_1_inside{
  .inside{
    padding-top: 40px;
    padding-bottom: 60px;

    margin: 0;
  }
}
.maw625{
  max-width: 625px;
}

.carriers_percense.about_cn{
  background-color: #f1f1f1;
  padding-top: 40px;
  .inside{
    h3{
      font-family: @poppins;
      font-size: 20px; font-weight: 700; color: #134392;
    }
  }
}
.lists_percense_aboutCn{
  padding-bottom: 40px;
  .leftsn_p{
    max-width: 320px;
    p{
      font-family: @poppins;
      font-size: 16px; font-weight: 400; color: #414141;
    }
  }
  .items{
    max-width: 310px;
    .pict{
      img{}
    }
    .info{
      padding-top: 14px;
      p{
        font-family: @poppins;
        margin: 0; padding: 0; font-size: 12px; font-weight: 400; color: #414141;
      }
    }
  }
}

.bottom_vision_abouts{
  .inside{
    padding-top: 25px; padding-bottom: 30px;
  }
}
.conts_vision{
  .col-md-6{
    min-height: 300px; 
    height: auto;
  }
  .col-md-6.bdr_rights{
    border-right: 1px solid #69950a;
  }
  .text{
    text-align: center;
    padding: 0 30px;
    padding-top: 85px;
    h3{
      margin: 0; padding: 0;
      font-size: 20px; font-weight: 700; color: #134392;
      line-height: 1;
      margin-bottom: 15px;
    }
    p{
      margin: 0; padding: 0;
      font-size: 16px; font-weight: 400; color: #414141;
      line-height: 1.4;
    }
  }
}

.conts_pServices{
  .lefts{
      h5{
        margin: 0; padding: 0;
        font-family: @poppins;
        font-size: 17px; font-weight: 700; color: #404040; text-transform: uppercase;
      }
      ul{
        margin: 0; padding: 0;
        list-style: none;
        li{
          padding: 9px 0;
          background-color: transparent;
          a{
            display: block;
            padding: 0px;
            font-family: @poppins;
            font-size: 17px; font-weight: 400; color: #666666;
          }
        }        
        li.active,
        li:hover,
        li:focus{
          background: url(../images/backs_left_men_hover_services.jpg) no-repeat;
          position: relative;
          left: -25px;
          padding-left: 25px;
          a{
            color: #69950a;
          }
        }
      }
  }
  .rights_cont{
    border-left: 1px dotted #cccccc;
    padding-left: 26px;
    .tops_c{
      padding-bottom: 10px;
      p{
        margin: 0; padding: 0;
        font-family: @poppins;
        font-size: 22px; font-weight: 400; color: rgba(65,65,65, 0.7);
        margin-bottom: 28px;
        strong,b{
          font-family: @poppins;
          font-size: 27px; color: #69950a; font-weight: 400;
        }
      }
      clear: both;
    }

    clear: both;
  }
  clear: both;
}

.conts_pServices.conts_pEvent{
  .rights_cont{
    border-left: 1px dotted #cccccc;
    h6{
      font-size: 17px; font-weight: 400; color: #404040;
    }
  }
}
// list data services
.lists_data_service{
  .items{
    margin-bottom: 30px;
    h6{
      margin-bottom: 20px;
    }
    p{
      font-size: 16px; font-weight: 400; color: #414141;
    }
    .bottoms_line{
      padding-top: 10px;
      .lines{
        margin-top: 7px;
        height: 1px; background-color: #69950a;
      }
      a.ctm_btns{
        display: block;
        font-family: @poppins;
        font-size: 17px; font-weight: 400; color: #69950a;
        line-height: 1;
        width: 152px; float: right;
        height: 22px;
        position: relative;
        top: -18px;
        background: #fff;
        padding: 0px;
      }
      a.ctm_btns:focus,
      a.ctm_btns:hover{
        text-decoration: none;
      }
      a.ctm_btns:after{
        display: inline-block;
        content: "";
        height: 22px; width: 22px;
        background: url(../images/chevrn_down_greenService.png) no-repeat;
        position: relative;
        top: 3px;
        left: 10px;
      }
    }
    clear: both;
  }
}

.content-text.conts_pFindExpert{
  margin: 0;
  p{
    margin: 0; padding: 0;
    line-height: 1.4;
    font-family: @poppins; 
    font-size: 22px; font-weight: 400; color: rgba(65,65,65, 0.7);
  }
  .blocksn_form_filter{
    form{
      margin: 0; padding: 0;
      .form-group{
        margin-right: 28px;
        label{
          display: block;
          font-family: @poppins;
          font-size: 16px; font-weight: 400; color: #414141;
          padding-bottom: 10px;
          text-align: left;
        }
        input,select{
          background: none; background-color: transparent;
          box-shadow: none; border-radius: 0px;
          height: 35px; width: 307px;

          font-family: @poppins;
          font-size: 14px; font-weight: 400; color: #414141;
          border: 1px solid #d8d8d8;
        }
        button.btns_csubmit{
          background: none; background-color: transparent;
          box-shadow: none; border-radius: 0px; padding: 0;
          background: url(../images/backs_btn_findExpert.png) no-repeat;
          width: 293px; height: 23px;
        }
      }
      .form-group:last-child{
        margin-right: 0;
      }
    }
    p.help-block{
      font-size: 14px; font-weight: 400; color: #134392;
    }
  }
  clear: both;
}

.conts_pServices.conts_pVideo{
  .rights_cont.full_c{
    border-right: 0px;
    h6{
      font-size: 17px; font-weight: 400; color: #404040;
    }
  }
  clear: both;
}

.maw1000{
  max-width: 1000px;
}

.lists_data_defaults_lh.videos,
.lists_data_defaults_lh{
  .items{
    max-width: 324px;
    min-height: 340px;
    margin-bottom: 10px;
    .picture{
      img{
        border: 0px;
      }
    }
    .info{
      padding-top: 17px;
      h6{
        margin: 0; padding: 0;
        line-height: 1;
        font-family: @poppins; font-size: 16px; font-weight: 700;
        color: #134392;
        margin-bottom: 12px;
      }
      p{
        margin: 0; padding: 0;
        line-height: 1.5;
        font-family: @poppins; font-size: 14px; font-weight: 400;
        color: #414141;
      }
    }
  }
}
.lists_data_defaults_lh.videos{
  .items{
    max-width: 252px;
    min-height: 305px;
    .picture{
      img{}
    }
    .info{
      padding-top: 13px;
      h6{ font-size: 13px; line-height: 1.2; margin-bottom: 7px; }
      p{ font-size: 13px; line-height: 1.3; }
    }
  }
}

.conts_pServices.cont_pProduct{
    .tops_landing_products{
      position: relative;
      height: 346px;
      width: 100%;
      border: 3px solid #dadada;
      .info{
        padding: 35px 40px;
        position: relative; z-index: 10;
        max-width: 470px;
        h5{
          margin: 0; padding: 0;
          font-family: @poppins;
          font-size: 27px; font-weight: 400; color: #69950a;
          line-height: 1.2;
          margin-bottom: 20px;
          }
          p{
            margin: 0; padding: 0;
            font-family: @poppins;
            font-size: 15px; font-weight: 400; color: #626262;
            line-height: 1.3;
            margin-bottom: 20px;
            b,strong{
              font-size: 18px; font-weight: 400; color: #000;
            }
          }
        clear: both;
      }
      .block_pict{
        position: absolute;
        top: 0px; right: 0px;
        width: auto;
        min-width: 585px;
        height: 346px;
        background: url(../images/picts_landing_product-1.jpg) no-repeat;
      }
    }

    .middles_products{
      h6{
        margin: 0; padding: 0;
        line-height: 1;
        font-size: 14px;
        font-family: @poppins; font-weight: 500; color: #989898;
        margin-bottom: 40px;
      }
      .lefts_c{
          .filtering_data{
            .list_filter{
              clear: both;
              padding-bottom: 35px;
              p{
                margin: 0; padding: 0; margin-bottom: 0;
                font-family: @poppins;
                font-size: 14px; font-weight: 700; color: #000;
                b{
                  font-family: @poppins;
                  font-size: 14px; font-weight: 700; color: #000;
                }
              }
              .checkbox{
                label{
                  font-family: @poppins; font-size: 12px; font-weight: 500; color: #134392;
                }
                input[type=checkbox]{}
              }
            }
            clear: both;
          }
      }

      // end lefts_C
      .rights_c{
          .lists_sub_products{
            table.table{
              border-left: 3px solid #dadada;
              border-right: 3px solid #dadada;
              margin-bottom: 0;
              thead{
                tr{
                  th{
                    padding: 10px 15px;
                    background-color: #dadada;
                    font-family: @poppins; font-size: 14px; font-weight: 400; color: #434343;
                  }
                }
              }
              tbody{
                tr{
                  td{
                    font-family: @poppins; font-size: 14px; font-weight: 400; color: #000;
                    span.nmes{
                      font-family: @poppins; font: 500px; color: #134392; font-size: 18px;
                      margin-bottom: 0;
                    }
                    border-bottom: 3px solid #dadada;
                  }
                }
              }
            }
          }
          // end rights
      }
      clear: both;
    }

  clear: both;
}
.block_detail_products{
  a.btnsr_back_product{
    padding: 0;
    font-family: @poppins; font-size: 14px; font-weight: 500; color: #69950a;
    i.fa{
      color: #69950a; font-size: 15px;
    }
  }

  .pictures_box{
    .pict_big{
      img{
        border: 3px solid #dadada;
      }
    }
    .list_chiild{
      padding-top: 10px;
      ul{
        list-style: none;
        margin: 0; padding: 0;
        li{
          border: 2px solid #69950a;
          img{
            margin: 0;
          }
        }
      }
    }
    clear: both;
  }
  .description{
    padding-left: 25px;
    h4{
      margin: 0; padding: 0;
      font-family: @poppins; font-size: 30px; color: #134392; font-weight: 700; line-height: 1.1;
      text-transform: uppercase;
    }
    h6{
      margin: 0; padding: 0;
      font-family: @poppins; font-size: 16px; color: #000; line-height: 1.2;
      font-weight: 400;
    }
    
    ol li,
    ul li,
    p{
      margin: 0; padding: 0;
      font-weight: 400;
      font-family: @poppins; font-size: 13px; color: #666666; line-height: 1.4;
    }
    ol li,
    ul li{
      line-height: normal;
      padding: 3px 0;
    }

    .bottoms_desc{
      padding-top: 40px;
      ul.nav.nav-tabs{
        li{
          background-color: #e4e4e4;
          height: 33px;
          border: 1px solid #bababa;
          padding: 0;
          margin-right: 3px;
          -moz-border-radius-topleft: 5px;
          -webkit-border-top-left-radius: 5px;
           border-top-left-radius: 5px;
          -moz-border-radius-topright: 5px;
          -webkit-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
          a{
            -moz-border-radius-topleft: 5px;
            -webkit-border-top-left-radius: 5px;
             border-top-left-radius: 5px;
            -moz-border-radius-topright: 5px;
            -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;

            text-decoration: none;
            font-family: @poppins;
            font-size: 13px; font-weight: 500; color: #989898;
            text-transform: uppercase;
            border: 0px;
            padding-top: 0; padding-bottom: 0;
            height: 33px;
            padding-top: 8px;
            margin-right: 0;
            border-radius: 0px;
            border-top: 4px solid transparent;
          }
        }
        li:hover,
        li:focus,
        li.active{
          a{

            border-top: 4px solid #69950a;
          }
        }
      }
      .tab-content{
        padding-top: 25px;
      }
      clear: both;
    }
    clear: both;
  }
  clear: both;
}

.conts_pContact{
  .lefts{
    h5{
      margin: 0; padding: 0;
      line-height: 1;
      font-family: @poppins;
      font-size: 17px; font-weight: 700; color: #404040;
      margin-bottom: 28px;
    }
    p{
      margin: 0; padding: 0;
      line-height: 1.4;
      font-family: @poppins;
      font-size: 16px; font-weight: 400; color: #666666;
      margin-bottom: 20px;
      b,strong{
        font-family: @poppins;
        font-size: 17px; font-weight: 400; color: #69950a;
      }
    }
  }
  .rights_cont{
    p{
      margin: 0; padding: 0;
      line-height: 1.4;
      font-family: @poppins; font-size: 22px; font-weight: 400; color: rgba(65,65,65, 0.7);
    }
    clear: both;
  }
}


.box-form.tl-contact-form{
  // max-width: 845px; 
  // min-width: 845px;
  // float: right;
  background-color: transparent;
  text-align: left;
  form{
    margin-bottom: 0; margin: 0;
    .form-group{ 
      margin-bottom: 23px;
      label{
        font-family: @poppins;
        font-weight: 500; color: #000;
        font-size: 14px;
        margin-bottom: 3px; text-align: left;
      }
      input{
        border:0px;
        background: none; background-color: #f3f3f3;
        border-bottom: 0px; border-radius: 0px;
        text-shadow:none; box-shadow: none;
        font-size: 13px;
      }
      textarea{
        margin: 0;
        background: none;
        background-color: #f3f3f3;
        border: 0px;
        box-shadow: none;
        border-bottom:0;
        text-align: left;
        border-radius: 0px;
      }
    }
    button.btns-submit-bt{
      background: none; border-radius: 0px;
      box-shadow: none; border: 0px;
      background-color: transparent;

      width: 180px; height: 32px; 
      background: url(../images/backs_btn_submitsContact.png) no-repeat;
      padding-top: 5px;
      // text-transform: uppercase; font-family: @font_set;
      // font-size: 19px; font-weight: 700; color: #fff;
    }
    button.btns-submit-bt:hover{
      opacity: 0.9;
    }
  }
}


/*----------------------- Midle Text Content -----------------*/
.content-text{
      font-family: @font_set;
      font-weight: 400;
      font-size: 16px;
      color: #414141;
  }

  .content-text h1,
  .content-text h2,
  .content-text h3,
  .content-text h4,
  .content-text h5{ font-family: @font_set; margin: 0; padding: 0; margin-bottom: 20px; }

  .content-text h1{  }
  .content-text h2{  }
  .content-text h3{ clear: both; margin: 0px; margin-bottom: 0px; font-size: 30px; font-family: @font_set; font-weight: 700; color: #000; line-height: 1.3; }
  .content-text h4{}
  .content-text h5{ clear: both; margin: 0px; margin-bottom: 25px; font-size: 22px; font-family: @font_set; font-weight: 400; color: rgba(65,65,65, 0.7); line-height: 1.3; }
  .content-text h6{ clear: both; margin: 0px; margin-bottom: 25px; font-size: 20px; font-family: @font_set; font-weight: 700; color: #134392; line-height: 1.3; }

  .content-text .m-0{
    margin-bottom: 0;
  }

  .content-text ul,ol{
    margin: 0; margin-right: 0;
  }
  .content-text p{
      margin: 0px;
      margin-bottom: 20px;

      font-family: @font_set;
      font-weight: 400;
      font-size: 16px;
      color: #414141;
      line-height: 1.4;
  }

  .content-text p a{
      text-decoration: none;
      color: #636363;
  }
  .content-text span.br5{
    clear: both; margin-bottom: 0;
    height: 5px;
  }
  .content-text span{
      margin: 0;
      margin-bottom: 25px;

      font-family: @font_set;
      font-weight: 500;
      font-size: 16px;
      color: #636363;
  }
  img.pc-center{
      margin: 0 auto;
      display: block;
      text-align: center;
  }
  .content-text ol,
  .content-text ul{
    li{
      padding: 3px 0; line-height: 1.4;
    }
  }

#back-top {
    color: #FFF;
    background: none repeat scroll 0% 0% #FFF;
    font-size: 20px;
    line-height: 100%;
    display: inline-block;
    position: fixed;
    z-index: 500;
    // right: 0px;
    // bottom: 0px;
    bottom: 0px;
    right: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    top: inherit !important;

    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:    0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow:         0px 0px 4px 0px rgba(0, 0, 0, 0.15)
}
#back-top i.fa {
    color: #565656;
}