/*----------------- Responsive ---------------------*/
@media (max-width: 1370px) {

	header.head .top-menu > ul > li{
		padding-left: 10px; padding-right: 10px;
	}
	header.head .top-menu > ul > li > a{
		font-size: 14px;
	}
	.h320{
		height: 250px;
	}

}
/* macbook */
@media (max-width: 1280px){

}

@media (max-width: 1200px){

	.wrap-slide .camera_wrap{
	}
	.navbar{
		margin: 0;
	}
	.navbar-default{
		border: none;
		border-radius: 0px;
	}
	.navbar-default .navbar-brand{
		padding: 0px;
	}
	.container_footer,
	.container{
		max-width: inherit;
		padding: 0 15px; width: auto;
	}

}
/* Large desktop */
@media (max-width : 1135px){
	body { 
		width: 100%;
	}
	.container{
		width: 100%;
		border: none;
		/*padding: 0 15px;*/
	}
	.navbar{
		margin: 0;
	}

	.navbar-default{
		border: none;
		border-radius: 0px;
	}

	header.head .ins .tops .left_tp_header a{
		font-size: 11px;
	}
	header.head .ins .tops .rights_tp_headers .bsx-choose_region select.form-control{
		font-size: 12px;
	}
	header.head .ins .tops .rights_tp_headers .box_search_hdr form .form-group input{
		width: 190px;
	}
	header.head .top-menu > ul > li{
		padding-left: 8px; padding-right: 8px;
	}
	header.head .top-menu ul li a{
		font-size: 13px;
	}
	.outers_fcs_wrapper .carousel-caption .wrap_info_slide{
		max-width: 480px;
		margin-right: 0;
	}
	.outers_fcs_wrapper .carousel-caption .wrap_info_slide h3{
		font-size: 40px;
	}
	.outers_fcs_wrapper .carousel-caption .wrap_info_slide h6{
		font-size: 45px;
	}
	.outers_fcs_wrapper .carousel-caption .wrap_info_slide p{
		font-size: 15px;
	}
	section.default_sc#block_homesection1 .insides .lists_banner_home_d1 .items .info p{
		font-size: 16px;
	}
	section.default_sc#block_homesection1 .insides .lists_banner_home_d1 .items .info a.views_exBanner{
		font-size: 14px;
	}
	footer.foot .insides_footer .tops_footer .blk_menuFooter h6{
		font-size: 15px; padding-bottom: 12px;
	}
	footer.foot .insides_footer .tops_footer .blk_menuFooter ul.list-unstyled li a{
		font-size: 14px;
	}
	footer.foot .insides_footer .tops_footer .blk_menuFooter ul.list-unstyled li.dropdown ul.dropdown-menu li:first-child a{
		padding-top: 0;
	}
	header.head .ins .lgo_web_header{
		max-width: 210px; padding-right: 25px;
	}
	.outers_fcs_wrapper .carousel.fade .item{
		background-position: top center;
	}

	section.default_sc#block_homesection1 .tops_banner_home1 .lefts_itm .block_human1{
		width: 100%; max-width: 170px;
		padding-left: 15px;
	}
	section.default_sc#block_homesection1 .tops_banner_home1 .lefts_itm .block_human1 img{
		max-width: 100%;
	}
	section.default_sc#block_homesection1 .tops_banner_home1 .lefts_itm .block_frm_in{
		max-width: 450px; padding-top: 40px;
		padding-left: 40px;
	}
	section.default_sc#block_homesection1 .tops_banner_home1 .lefts_itm .block_frm_in p{
		font-size: 25px;
	}
	section.default_sc#block_homesection1 .tops_banner_home1 .lefts_itm .block_frm_in form.form-inline .form-group input{
		width: 220px;
	}
	.lists_banner_home_d1{
		margin: 0 -0.6em;
	}
	.lists_banner_home_d1 .items{
		padding: 0 0.6em;
	}
	.t-copyrights{
		font-size: 11px; font-weight: 400; color: rgba(255,255,255, 0.7);
		max-width: 420px;
		padding-top: 20px;
	}
	.lgo_footers.d-inline{
		max-width: 150px;
	}
	footer.foot .btms_mnfooter .height-40{
		height: 15px;
	}

	.lists_data_defaults_lh.videos{}
	.lists_data_defaults_lh.videos .row.default{
		margin: 0px !important;
	}
	.lists_data_defaults_lh.videos .row.default>[class*=span], 
	.lists_data_defaults_lh.videos .row.default>[class*=col-xs], 
	.lists_data_defaults_lh.videos .row.default>[class*=col-md], 
	.lists_data_defaults_lh.videos .row.default>[class*=col-lg], 
	.lists_data_defaults_lh.videos .row.default>[class*=col-sm]{
		padding: 0px !important;
	}
	.lists_data_defaults_lh.videos .items{
		padding-left: 0.5em; padding-right: 0.5em;
	}
	.lists_data_defaults_lh.videos .items .picture{}
	.lists_data_defaults_lh.videos .items .picture iframe{
		width: 100% !important;
	}
	.content-text.conts_pContactus h4{
		font-size: 19px;
	}
	.box-form.tl-contact-form{
		padding: 0 15px;
	}
	.box-form.tl-contact-form.loginPage form .form-group{
		display: block;
	}
	.box-form.tl-contact-form.loginPage form .form-group label{
		text-align: center; width: auto; display: block;
	}
	.box-form.tl-contact-form.loginPage form .form-group input{
		width: auto; width: 100%; text-align: center;
	}
	.box-form.tl-contact-form.loginPage .fright{
		float: none;
	}
	.box-form.tl-contact-form.loginPage .fright button{
		margin: 0 auto; display: block;
	}
	.subpage_top_banner_illustration .block_infoBottom h2.sub_title_p{
		left: 15px;
	}

}

@media (max-width : 1002px) { 
	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
	}
	.navbar{
		margin: 0;
	}
	.lists_banner_home_d1.default_banner-home{}
	.lists_banner_home_d1.default_banner-home .items{
		max-width: 320px;
		margin: 0 auto 1.2em;
	}

	.subpage_top_banner_illustration .info h2{
		font-size: 25px;
	}
	.subpage_top_banner_illustration .info h4{
		font-size: 37px;
	}
	.content-text p{
		font-size: 15px;
	}
	.lists_percense_aboutCn .items{
		padding-bottom: 2.5em;
	}
	.conts_vision .col-md-6{ min-height: inherit; }
	.conts_vision .col-md-6.bdr_rights{
		min-height: inherit;
		border-right: 0px;
		border-bottom: 1px solid #69950a;
		padding-bottom: 2em; margin-bottom: 2em;
	}
	.conts_vision .text{
		padding-top: 0;
	}
	section.bottom_vision_abouts{
		min-height: 300px; height: auto;
		padding-bottom: 2em;
		padding-top: 2.5em;
	}
	.middle_conts_1_inside .inside{
		padding-left: 0;
	}
	.conts_pServices .rights_cont{
		padding-top: 3.5em;
	}
	.lists_data_defaults_lh.videos{}
	.lists_data_defaults_lh.videos .row.default{
		margin: 0px !important;
	}
	.lists_data_defaults_lh.videos .row.default>[class*=span], 
	.lists_data_defaults_lh.videos .row.default>[class*=col-xs], 
	.lists_data_defaults_lh.videos .row.default>[class*=col-md], 
	.lists_data_defaults_lh.videos .row.default>[class*=col-lg], 
	.lists_data_defaults_lh.videos .row.default>[class*=col-sm]{
		padding: 0px !important;
	}
	.lists_data_defaults_lh.videos .items{
		padding-left: 0.5em; padding-right: 0.5em;
	}
	.lists_data_defaults_lh.videos .items .picture{}
	.lists_data_defaults_lh.videos .items .picture iframe{
		width: 100% !important;
	}

	.outers_fcs_wrapper .carousel-caption{
		position: relative;
		bottom: inherit;left: inherit;
		background-color: #f5f5f5;
		border-top: 2px solid #ccc;
		border-bottom: 2px solid #ccc;
		padding: 25px 0;
	}
	.outers_fcs_wrapper .carousel-caption .wrap_info_slide h3{ font-size: 30px; }
	.outers_fcs_wrapper .carousel-caption .wrap_info_slide h6{ font-size: 35px; }
	.outers_fcs_wrapper .carousel-caption .wrap_info_slide{
		padding-bottom: 0em;
		max-width: inherit;
	}
	.outers_fcs_wrapper ol.carousel-indicators{
		display: none;
	}
	section.default_sc#block_homesection1 .tops_banner_home1 .lefts_itm{
		margin-right: 0; margin-bottom: 15px;
	}
	section.default_sc#block_homesection1 .tops_banner_home1 .rights_itm{}
	section.default_sc#block_homesection1 .tops_banner_home1 .rights_itm img{
		width: 100%;
	}
	section.default_sc#block_homesection1 .tops_banner_home1 .rights_itm .info{
		max-width: inherit;
	}
	.lists_banner_home_d1{}
	.lists_banner_home_d1 .items{
		max-width: 375px;
		margin: 0 auto;
		padding-bottom: 1.6em;
	}
	.outers_middle_content1 .block_about_tx1 .lefts_c{
		max-width: inherit;
	}
	.outers_middle_content1 .block_about_tx1 .rights_c{
		position: relative;
		top: inherit; right: inherit;
	}
	.h320{
		height: 100px;
	}

}

@media (max-width : 991px) { 

	.navbar-default {
		background-color: #000;
		border-color: #000;
	}
	.navbar-default .navbar-brand{
		margin: 0px;
	}
	.lgo_footers img,
	.lgo_footers{
	}
	.lgo_footers{
		margin-bottom: 2em;
	}
	footer.foot .container_footer{
		max-width: inherit; width: auto;
		padding: 0 15px;
	}
	footer.foot .blk_menuFooter ul.dropdown-menu,
	footer.foot .blk_menuFooter ul{
		float: none !important;
	}
	footer.foot .t-copyrights{
		text-align: left;
	}
	footer.foot .insides_footer .btms_mnfooter{
		display: block;
		padding-right: 0;
		padding-bottom: 10px; text-align: left;
	}
	footer.foot .insides_footer .socmed_footer{
		display: block; text-align: center;
	}
	.outers_fcs_wrapper .carousel-caption .wrap_info_slide{
		text-align: center;
		margin: 0 auto; float: none;
	}

	.conts_pServices.landing_prd .rights_cont{
		border-left: 1px dotted #ccc;
		padding-left: 26px;
		padding-top: 0;
	}
	.conts_pServices .rights_cont{
		border-left: 0px;
		padding-left: 0px;
		border-bottom: 0; border-left: 0;
		margin-top: 0em;
	}
	.conts_pServices.cont_pProduct{
		padding-left: 0;
	}
	.conts_pServices.cont_pProduct .tops_landing_products .block_pict{
		min-width: inherit; width: 100%;
	}
	.conts_pServices.cont_pProduct .tops_landing_products{
		height: auto;
	}
	.conts_pServices.cont_pProduct .tops_landing_products .block_pict{
		width: 100%;
		position: relative;
		top: inherit; left: inherit;
		background-size: cover;
	}
	.conts_pServices.cont_pProduct .tops_landing_products .info{
		max-width: inherit;
		padding: 25px 30px 15px;
	}
	.conts_pServices.cont_pProduct .tops_landing_products{
		border-color: #ccc;
	}
	.subpage_top_banner_illustration .block_infoBottom h2.sub_title_p{
		left: 15px;
	}
	.row-eq-height{
		display: block;
	}
	.lists_banners_dtAbout .items .block_desc{
		min-height: 250px; height: auto;
	}
	.lists_banners_dtAbout .items .block_desc .info h3{
		font-size: 25px;
	}
	.lists_banners_dtAbout .items .block_desc .info p{
		font-size: 15px;
	}

}


@media (max-width: 992px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    /*.navbar-collapse.collapse {
        display: none!important;
    }*/
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .collapse.in{
        display:block !important;
    }

    header.head .navbar-default{
    	background-color: #fff;
    	border-color: #fff;
    	padding: 0px 0;
    }
    .navbar-default .navbar-brand{
    	max-width: 155px;
    	padding-top: 12px;
    	padding-bottom: 12px;
    	padding-left: 15px;
    }
    .navbar-default .navbar-toggle{
    	border-color: transparent;
    	border-radius: 0px;
    	margin-top: 17px;
    }
    .navbar-default .navbar-toggle:hover, 
    .navbar-default .navbar-toggle:focus {
	    background-color: rgba(204, 204, 204, 0.2);
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #000;
	}
	
	.navbar-nav.navbar-right:last-child{
		margin-right: 0;
	}
	header.head .navbar-nav{}
	header.head .navbar-nav li{
		border-bottom: 1px solid #ccc;
	}

	header.head .navbar-nav li a{
		color: #919191;
		font-size: 14px;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
	}
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
	    color: #555;
	    background-color: rgba(231, 231, 231, 0.15);
	}
	header.head .navbar-nav li:hover > .dropdown-menu{
		display: block;
	}
	.navbar-nav > li > .dropdown-menu > li > .dropdown-menu,
	.navbar-nav > li > .dropdown-menu{
		display: none;
		position: relative;
		top: inherit;
		left: inherit;
		right: inherit;
		float: none;
		box-shadow: none;
		border: 0px;
		min-width: inherit;
		border-radius: 0px;
	}
	.navbar-nav > li > .dropdown-menu > li > .dropdown-menu > li,
	.navbar-nav > li > .dropdown-menu > li{
		border-top: 1px solid #ccc;
		border-bottom: 0;
		padding: 4px 0;
	}
	.navbar-nav > li > .dropdown-menu > li > .dropdown-menu > li{
		padding-left: 5px;
	}
	.navbar-nav > li > .dropdown-menu > li > .dropdown-menu > li > a,
	.navbar-nav > li > .dropdown-menu > li > a{
		color: #919191;
		font-size: 13px;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
	}
	header.head .navbar-collapse{
		max-height: inherit;
	}

    header.head .navbar-default .bloc_warranty_reg{
    	margin-bottom: 10px;
    }
    header.head .navbar-default .bloc_warranty_reg a{
    	display: inline-block;
    	padding: 5px 25px;
    	font-size: 13px; font-weight: 700; color: #fff;
    	margin-bottom: 6px;
    }
    header.head .navbar-default .bloc_warranty_reg a.first{
    	background-color: #6190dd;
    	border-color: #6190dd;
    }
    header.head .navbar-default .bloc_warranty_reg a.second{
    	background-color: #4278d1;
    	border-color: #4278d1;
    }
    header.head .navbar-default .bloc_warranty_reg a.third{
    	background-color: #2c65c3;
    	border-color: #2c65c3;
    }

    header.head .navbar-default .bsx-choose_region{
    	margin-bottom: 12px;
    	padding-bottom: 12px;
    }
    header.head .navbar-default .bsx-choose_region select.form-control{
    	display: inline-block;
        background: none; background-color: transparent;
        box-shadow: none; border: 0px;  box-shadow: none;
        border-radius: 0px;
        background-color: #2c65c3;

        font-size: 14px; font-weight: 600; color: #fff;
    }
    header.head .navbar-default .bxn_right_language{
          padding-top: 0px;
          padding-left: 0px;
          padding-bottom: 10px;
          display: inline-block;
          font-size: 13px; font-weight: 600; color: #777;
          line-height: 1; text-decoration: none;
          
        }
    header.head .navbar-default .bxn_right_language a{
        font-size: 14px; font-weight: 600; color: #777;
        line-height: 1; text-decoration: none;
      }
  header.head .navbar-default .bxn_right_language a.active,
  header.head .navbar-default .bxn_right_language a:hover{
        text-decoration: none; color: #2c65c3;
      }

}

@media (max-width: 979px) {
	

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	header.head{
		height: auto;
	}
	.navbar-default .navbar-nav > li > a {

	}

}
	
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	header.head{
		height: auto;
	}

	footer [class*="col-md"]{
		text-align: center;
	}

	.navbar-nav > li{
		float: none;
	}

	.outers_fcs_wrapper .carousel-caption{
		position: relative;
		left: inherit; right: inherit;
		top: inherit; bottom: inherit;
		width: 100%;
	}
	.outers_fcs_wrapper .blocks_ts_fcs{
		width: 100%; height: auto;
		padding: 15px 20px 15px;
	}
	.outers_fcs_wrapper{
		box-shadow: none; max-height: inherit;
	}
	.outers_fcs_wrapper .blocks_ts_fcs p{
		font-size: 18px;
	}

	.outers_fcs_wrapper .carousel-caption .wrap_info_slide{
		background-color: #f5f5f5;
		padding: 3em 15px;
	}
	.outers_fcs_wrapper .carousel-caption .container{
		padding: 0px;
	}
	.outers_fcs_wrapper .carousel-caption .wrap_info_slide h3{
		font-size: 30px;
	}
	.outers_fcs_wrapper .carousel-caption .wrap_info_slide h6{
		font-size: 33px;
	}
	.outers_fcs_wrapper ol.carousel-indicators{
		left: 43%; bottom: 10px;
	}
	section.default_sc#block_homesection1 .insides .lists_banner_home_d1.default_banner-home .items{
		max-width: inherit;
	}
	footer.foot .insides_footer .btms_mnfooter a{
		font-size: 10px;
	}
	.middle_conts_1_inside .inside{
		padding-left: 0;
	}
	.lists_percense_aboutCn .items,
	.lists_percense_aboutCn .leftsn_p{
		max-width: inherit;
	}
	.lists_percense_aboutCn .items .pict img{ width: 100%; }
	.conts_vision .text{
		padding-left: 15px; padding-right: 15px;
	}

	.conts_pServices .rights_cont{
		padding-left: 0;
		border-left: 0; border-right: 0;
		padding-top: 1.5em;
	}
	.lists_bloc_landing_prdItems .items .info{
		width: 50%;
	}
	.conts_pServices.cont_pProduct .tops_landing_products .block_pict{
		background-position: top right;
	}
	.conts_pServices.cont_pProduct .middles_products .rights_c .lists_sub_products table.table thead tr th{
		vertical-align: top; font-size: 13px;
	}
	.block_detail_products .description{
		padding-left: 0;
		padding-top: 1.5em;
	}
	.block_detail_products .description .bottoms_desc ul.nav.nav-tabs li a{
		font-size: 10px;
		padding-left: 7px; padding-right: 7px;
	}
	.block_detail_products .description .bottoms_desc ul.nav.nav-tabs li{
		width: 23%;
	}
	.lists_data_service .items .descriptions_bottom.fading p,
	.lists_data_service .items p{
		font-size: 14px;
	}
	.content-text.conts_pFindExpert .blocksn_form_filter form .form-group{
		margin-right: 0;
	}
	.content-text.conts_pFindExpert .blocksn_form_filter form .form-group input, 
	.content-text.conts_pFindExpert .blocksn_form_filter form .form-group select{
		width: 100%;
	}
	.lists_data_defaults_lh.videos .items .info p{
		font-size: 12px;
	}
	.lists_data_defaults_lh .items, .lists_data_defaults_lh.videos .items{
		min-height: 250px;
	}

	/* ---------------- */
	section.default_sc#block_homesection1 .tops_banner_home1 .lefts_itm .block_human1{
		display: none;
	}
	section.default_sc#block_homesection1 .tops_banner_home1 .lefts_itm{ height: auto; }
	section.default_sc#block_homesection1 .tops_banner_home1 .lefts_itm .block_frm_in{
		padding: 20px 20px 25px;
	}
	section.default_sc#block_homesection1 .tops_banner_home1 .lefts_itm .block_frm_in form.form-inline .form-group input{
		width: 100%;
	}
	section.default_sc#block_homesection1 .tops_banner_home1 .lefts_itm .block_frm_in form.form-inline .form-group{
		margin-right: 0;
	}
	.lists_banner_home_d1{
		margin-left: 0; margin-right: 0;
	}
	.lists_banner_home_d1 .items{
		padding-left: 0; padding-right: 0;
		margin-right: 0; margin-left: 0;
	}
	.blk_menuFooter .col-md-4{
		margin-bottom: 2.2em;
	}
	footer.foot .blocks_top_footer_green{
		height: auto;
		padding: 1em 0;
	}
	footer.foot .blocks_top_footer_green .bloc_green_globe{
		display: none;
	}
	footer.foot .blocks_top_footer_green .bloc_leaf{
		top: inherit;
	}
	footer.foot .t-copyrights{
		text-align: center;
	}
	.outers_fcs_wrapper .carousel-caption .wrap_info_slide{
		padding-top: 0.5em; padding-bottom: 0.5em;
	}
	.conts_pServices.cont_pProduct .tops_landing_products .info.blocks_info_CategoryProducts .lists_ln,
	.conts_pServices.cont_pProduct .tops_landing_products .info.blocks_info_CategoryProducts .lists_ln a{
		font-size: 18px;
	}
	.conts_pServices.cont_pProduct .middles_products h6{
		margin-bottom: 25px;
	}
	.block_detail_products .description, .block_detail_products .description.lefts_cn{
		padding-left: 0;
	}
	.block_detail_products .height-50{
		height: 20px;
	}
	.block_detail_products .description{ padding-top: 0; }
	.subpage_top_banner_illustration .block_infoBottom p{
		font-size: 15px;
	}
	.txt_service .rights_cont .rights_c{
		float: none;
	}
	.txt_service .rights_cont .rights_c .items{
		max-width: inherit;
	}
	.txt_service .rights_cont .rights_c .items .pict img{ width: 100%; }

	.content-text.conts_pDealer .boxs_grey .rights{
		padding-top: 2em; padding-left: 0;
	}
	.content-text.conts_pContactus .boxs_grey p, .content-text.conts_pDealer .boxs_grey p{
		font-size: 17px;
	}
	.box-form.tl-contact-form .height-40{
		height: 0;
	}
	.box-form.tl-contact-form{
		padding-bottom: 2.5em;
	}
	.content-text.conts_pContactus .boxs_grey .tops h5{
		font-size: 14px;
		padding-top: 2px;
	}
	
	.conts_pServices.cont_pProduct .tops_landing_products .info.blocks_info_CategoryProducts .lists_ln{
		margin: 0 -0.3em;
	}
	.blocks_info_CategoryProducts .lists_ln .itm{
		padding: 0 0.3em 1em;
	}
	.subpage_top_banner_illustration .block_infoBottom{
		height: auto;
	}
	.outs_breadcrumb ol.breadcrumb{ padding-top: 5px; padding-bottom: 5px; text-align: left; }
	.outs_breadcrumb ol.breadcrumb li.active, .outs_breadcrumb ol.breadcrumb li, .outs_breadcrumb ol.breadcrumb li a,
	.outs_breadcrumb ol.breadcrumb li.active,
	.outs_breadcrumb ol.breadcrumb li, .outs_breadcrumb ol.breadcrumb li a{
		font-size: 11px;
	}
	.conts_pServices.cont_pProduct .tops_landing_products .tops_n .info_top{
		padding-top: 10px;
	    padding-bottom: 10px;
	    text-align: center;
	}
	.conts_pServices.cont_pProduct .tops_landing_products .tops_n .info_top h6{
		font-size: 2em;
	}
	.conts_pServices.cont_pProduct .tops_landing_products .tops_n .pic_topRight img,
	.conts_pServices.cont_pProduct .tops_landing_products .tops_n .pic_topRight{
		float: none; display: block;
		margin: 0 auto; text-align: center;
	}
	.content-text .blocks_top_detailProduct a.btnsr_back_product{
		text-align: left; display: block;
		padding-top: 8px;
	}
	.conts_pServices.cont_pProduct .tops_landing_products .info.blocks_info_CategoryProducts h5{
		font-size: 2em;
	}
	.conts_pServices.cont_pProduct .tops_landing_products .bloc_img_right{ float: none; }
	.conts_pServices.cont_pProduct .tops_landing_products .info.blocks_info_CategoryProducts .lists_ln .itm .names span{
		font-size: 15px;
	}
	header.head .navbar-default .bloc_warranty_reg a{
		width: 195px;
	}
	.conts_pServices.cont_pProduct .tops_landing_products{
		min-height: inherit;
	}
	.conts_pServices .rights_cont img{
		max-width: 100%;
	}
	.subpage_top_banner_illustration.pg_about{
		background-position: -900px 0px;
	}

	.block_detail_products .description .bottoms_desc .panel-group{}
	.block_detail_products .description .bottoms_desc .panel-group .panel.panel-default{
		border-radius: 0px;
	}
	.block_detail_products .description .bottoms_desc .panel-group .panel.panel-default .panel-heading{
		background-color: rgba(245, 245, 245, 0.4); 
		border-radius: 0px;
	}
	.block_detail_products .description .bottoms_desc .panel-group .panel.panel-default .panel-heading .panel-title a,
	.block_detail_products .description .bottoms_desc .panel-group .panel.panel-default .panel-heading .panel-title{
		font-family: 'Poppins',sans-serif;
		font-size: 13px;
		font-weight: 700;
		color: #515151;
		text-transform: uppercase;
	}
	.block_detail_products .description .bottoms_desc .panel-group .panel-body{}
	.block_detail_products .description .bottoms_desc .panel-group .panel-body img{
		max-width: 100%;
	}
	.conts_pServices.conts_pEvent .lists_data_defaults_lh .items{
		margin-bottom: 2em;
	}
	section.default_sc#block_homesection1 .tops_banner_home1 .lefts_itm .block_frm_in p{
		font-size: 22px;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}
