/*----------------------- IMPORT FONT ------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i);
// font-family: 'Roboto', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
// font-family: 'Poppins', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i);
// font-family: 'Roboto Condensed', sans-serif;

// 992
@Roboto: 'Roboto', sans-serif;
@poppins: 'Poppins', sans-serif;
@roboto_con: 'Roboto Condensed', sans-serif;

@font_set: 'Roboto Condensed', 'Roboto', sans-serif;

@background: #fff;

/*-------------------------- -- GENERAL -------------------------*/
img{
    border: none;
    user-drag: none;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
html,body{
    height: 100%;
    /*width: 100%;*/
}
#pushstat{ display: none; }
body{
    background: transparent;
    margin: 0;
    padding: 0;
    
    font-family: @font_set;
    font-weight: 400;
    font-size: 12px;
    
    color: #000;
    background-color: @background;
}
html, body{
  margin: 0px; padding: 0px;
}

a:focus{
    outline: none;
}
html, body, p, span, div, h1, h2, h3 ,h4 ,h5 ,h6, ul, li, ol, a, table, tr, td, th{
    font-family: @font_set;
    font-weight: 400;
}

.prelatif,
.prelatife{
    position: relative; 
}
body{
    /*test for not responsive*/
    /*min-width: 1160px;*/
}
@media (min-width: 1365px){
    .container {    
        max-width: 1160px;
        /*width: 1160px;*/
    }
}
.h100per{
  height: 100%;
}

.container {
    /*height: 100%;*/
    /*test for not responsive*/
    /*min-width: 1160px;*/

    max-width: 1160px;
    width: 1160px;
    margin: 0 auto;
    padding: 0px;
}
.container_footer{
  max-width: 1060px;
  margin: 0 auto;
}

.center{
    text-align: center;
}
.tengah{
    margin: 0 auto;
    padding: 0px;
}
.row{
    margin: 0px;
}
[class*="span"] {
    margin: 0;
}
[class*="col-xs"]{
    padding: 0;
}
[class*="col-md"] {
    padding: 0;
}
[class*="col-lg"] {
    padding: 0;
}
.row.default{
  margin: 0 -15px;
}
.row.default > [class*="span"],
.row.default > [class*="col-xs"],
.row.default > [class*="col-md"],
.row.default > [class*="col-sm"],
.row.default > [class*="col-lg"]
{
    padding: 0 15px;
}
.d-inline{
  display: inline-block;
  vertical-align: top;
}

#preloader {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dadbdb url(../images/bgloader.jpg) left top repeat-x;
    height: 100%;
    z-index: 1500;
}
#statusloader {
    text-align: center;
    margin: 0 auto;
    left: inherit;
    width: 100%;
    vertical-align: middle;

    height: 100px;
    position: absolute;
    top: 36%;
    background-image: url(../images/loading2.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.d-inline{ display: inline-block; }

.out_table{
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  .in_table{
      display: table-cell;
      text-align: center; 
      vertical-align: middle;
      width: 100%;
      height: 100%;
  }
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.carousel.fade {
    opacity: 1;
}
.carousel.fade .item {
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    left: 0 !important;
    opacity: 0;
    top:0;
    position:absolute;
    width: 100%;
    display:block !important;
    z-index:1;
}
.carousel.fade .item:first-child {
    top:auto;
    position:relative;
}
.carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    z-index:2;
}
.pict_full{
  img{ width: 100%; max-width: 100%; }
}

// -----------------------------------------------------------
.back-white{
  background-color: #fff;
}
.d-inline.v-top{
  display: inline-block;
  vertical-align: top;
}
.h100p{
  height: 100%;
}

.v-top{
  vertical-align: top;
}
img.pc-center{
  display: block; margin: 0 auto; text-align: center;
}
.mb-0{
  margin-bottom: 0;
}
.lines-white{
  height: 1px; background-color: #fff;
}

a:focus,
a:hover{
  text-decoration: none;
}
.outers_back-header.posabs_fulls{ height: auto; }
header.head{
  position: relative;
  z-index: 15;

  width: 100%;
  height: 175px;
  background: url(../images/back_header_nj1.jpg) repeat-x; 
  .visible-lg,
  .container{
    height: 100%;
    .ins{
      height: 100%;
    }
  }
  .afx_rights_headertop_fn{
    position: fixed;
    top: 115px;
    right: 0px;
    z-index: 350;

    background: url(../images/bloc_tops_ffx_rightHeader.png) no-repeat;
    width: 240px;
    height: 77px; cursor: pointer;
    span{
      display: block;
      padding: 45px 53px;
      font-family: @roboto_con;
      font-size: 16px; font-weight: 400; color: #fff;
    }
    small.inf{
      font-size: 10px;
      font-weight: 600;
      color: white;
      padding: 3px 6px;
      background-color: red;
      position: absolute;
      bottom: -16px;
      right: 0px;
    }
  }
  .afx_rights_headertop_fn.tclose{
    background: url(../images/hides_close_tphone_header.png) no-repeat;
    width: 43px; height: 43px;
    top: 150px;
    span{
      display: none;
    }
  }
  .afx_rights_headertop_fn{
    -webkit-transition: width 0.6s; /* Safari */
    transition: width 0.6s;
  }
  .ins{
    .lgo_web_header{
      position: relative;
      height: 100%;
      padding-top: 20px;
      img.lgo2{
        padding-top: 6px;
      }
      span{
        margin: 0; padding: 0;
        display: inline-block;
        padding-top: 43px;
        font-size: 20px; font-weight: 600; font-style: italic;
        color: #000;
        line-height: 1;
      }
    }
    .taglines_hdr1{
      padding-top: 35px;
    }

    .tops{
      height: 45px; overflow: hidden;
      .left_tp_header{
        display: inline-block;
        width: auto; text-align: left;
        a{
          font-size: 14px;
          font-weight: 400; color: #fff;
          text-align: center;
          text-decoration: none;
          height: 45px;
          display: inline-block;
          width: auto;
          padding: 10px 27px 8px;
          float: left;
        }
        a.backs_blue1{
          background-color: #404040;
        }
        a.backs_blue1:hover,
        a.backs_blue1:focus{
          background-color: #d80d26;
          text-decoration: none;
        }
        a.backs_blue2{
          background-color: #333333;
        }
        a.backs_blue2:hover,
        a.backs_blue2:focus{
          background-color: #d80d26;
          text-decoration: none;
        }
        a.backs_blue3{
          background-color: #1a1a1a;
        }
        a.backs_blue3:hover,
        a.backs_blue3:focus{
          background-color: #d80d26;
          text-decoration: none;
        }
        
      }
      
      .rights_tp_headers{

        .box_search_hdr{
          display: inline-block;
          form{
            margin: 0; padding: 0;
            background-color: transparent;
            border: 0px;
            position: relative;
            .form-group{
              margin-bottom: 0;
              input{
                background-color: #1a1a1a;
                font-size: 13px; font-weight: 400; color: #fff;
                letter-spacing: 0px;
                border: 0px;
                border-radius: 0px;
                padding-left: 20px; padding-right: 20px;
                width: 270px;
                height: 45px;
                box-shadow: none;
                border-right: 1px solid #383838;
                border-left: 1px solid #383838;
              }
              ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: white;
              }
              ::-moz-placeholder { /* Firefox 19+ */
                color: white;
              }
              :-ms-input-placeholder { /* IE 10+ */
                color: white;
              }
              :-moz-placeholder { /* Firefox 18- */
                color: white;
              }
              input:hover,
              input:focus{
                box-shadow: none;
              }
            }
            button.btn{
              position: absolute;
              right: 15px; 
              top: 10px;
              padding: 0px;
              i.fa{
                font-size: 15px;
                color: #fff;
              }
            }
          }
          clear: both;
        }
        .bxn_right_language{
          padding-left: 23px;
          display: inline-block;
          padding-top: 13px;
          font-size: 13px; font-weight: 600; color: #fff;
          line-height: 1; text-decoration: none;
          a{
            font-size: 14px; font-weight: 600; color: #fff;
            line-height: 1; text-decoration: none;
          }
          a.active,
          a:hover{
            text-decoration: none; color: #ed1b24;
          }
        }
      }
      
      clear: both;
    }
    .bottoms{
      .lgo_web_header{
        a{
          display: inline-block;
          img{
            border: 0px;
          }
        }
      }
      clear: both;
    }

    clear: both;
  }

  .top-menu{
      display: block;
      text-align: right;
      ul{
        margin: 0px; padding: 0px;
        li{
          margin: 0; padding: 7px 10px;
          a{
            font-size: 16px;
            font-weight: 700;
            color:#000;
            text-decoration: none;
            text-transform: uppercase;
          }
        }

        li.dropdown:hover{
          background-color: #ed1b24;
          a{
            color: #fff;
          }
        }

        li.dropdown.first:hover > ul.dropdown-menu{
            display: block;
          }
        li.dropdown.first > ul.dropdown-menu{
          display: none;
        }

        li.dropdown.first{
          ul.dropdown-menu{
            display: none;
            position: absolute;
            top: 34px;
            left: 0px;
            box-shadow: none; border-radius: 0px;
            border: 4px solid #e7e7e7;
            li{
              padding: 3px 0;
              background-color: #fff;
              border-bottom: 1px solid #d2d2d2;
              text-align: left;
              a{
                text-align: left;
                font-size: 14px;
                font-weight: 400;
                color:#4b4b4b;
                padding-left: 12px; text-transform: capitalize;
              }
            }
            li.dropdown,
            li.dropdown:hover{
              ul.dropdown-menu{
                display: block;
                position: relative;
                top: 0px;
                left: 0px;
                margin-left: 0; border: 0px;
                border-top: 1px solid #d8d8d8;
                li{
                  padding: 3px 0;
                  border-bottom: 1px solid #d8d8d8;
                  text-align: left; background-color: #fff;
                  a{
                    text-align: left;
                    font-size: 12px; font-weight: 400; color: #4b4b4b;
                    padding-left: 25px; 
                    text-transform: capitalize;
                  }
                }
                li:hover,
                li:focus{
                  background-color: #f5f5f5;
                  a{
                    background-color: transparent; color: #4b4b4b;
                  }
                }
              }
            }
            li:hover,
            li:focus{
              background-color: transparent;
              a{
                background-color: transparent; color: #4b4b4b;
              }
            }
          }

          ul.dropdown-menu.onesub{
            li:hover,
            li:focus{
              background-color: #f5f5f5;
              a{
                background-color: transparent; color: #4b4b4b;
              }
            }
          }

        }

        li:last-child{
          padding-right: 0;
        }
        li:first-child{
          padding-left: 0;
        }
        li.active,
        li:hover{
          a{ text-decoration: none; color: #ed1b24; }
        }
      }
    }
  // end top menu
  clear: both;  
}

// .header-affixs.affix-top{ top: -1000px; position: fixed; visibility: collapse; }
// .header-affixs.affix{ top: 0px; left: 0px; }
// .header-affixs{
//     background-color: rgba(255, 255, 255, 0.90);
//     width: 100%;
//     z-index: 1000;
//     height: 75px;
//     border-bottom: 3px solid #835f20;
//     z-index: 1000;
//     .lgo-web-web_affix{
//       a{
//         font-family: @font_set;
//         font-size: 24px; font-weight: 700; color: #252223;
//         text-decoration: none; text-transform: uppercase;
//       }
//     }
// }
// .menu-taffix{
//     text-align: right;
// }
// .menu-taffix ul{ margin: 0; padding: 0px; float: none; }
// .menu-taffix ul li{ padding: 0px; padding: 5px 15px; float: none; display: inline-block; }
// .menu-taffix ul li a{ font-family: @font_set; font-size: 16px; font-weight: 700; display: inline-block; padding-top: 0; color: #000; padding-left: 0; padding-right: 0; text-decoration: none; text-transform: uppercase; }
// .menu-taffix ul li.active a,
// .menu-taffix ul li a:hover{ text-decoration: none; color: #835f20; background-color: transparent; }

.m-0,
h1.m-0{ margin: 0; }

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.outers_fcs_wrapper{
  position: relative; z-index: 2;

  // max-height: 583px;
  // min-height: 580px;

  // height: 100%;
  overflow: hidden;
  .carousel{
    // height: 100%;
    .carousel-inner{
      // height: 100%;
      .item{
        // height: 100%;
      }
    }  
  }
  .carousel-inner{
    .item{
      img.full_img{ 
        width: 100%; 
        max-height: 776px;
      }
    }
  }
  ol.carousel-indicators{
    bottom: 15px;
    margin: 0;
    width: auto;
    z-index: 300;
    li{
      border: 0px;
      border-radius: 0px;
      width: 12px; height: 12px;
      background: url(../images/toc-fcs.png) no-repeat;
      margin: 0 2.5px;
    }
    li:hover,
    li:focus,
    li.active{
      border: 0px;
      border-radius: 0px;
      width: 12px; height: 12px;
      background: url(../images/toc-fcs-active.png) no-repeat; 
      margin: 0 2.5px;
    }
  }
    // end carousel indicator
    .carousel-caption{
      right: inherit;
      left: 0px;
      padding-bottom: 0;
      padding-top: 0;
      text-shadow: none;
      bottom: 10%;
      width: 100%;

      .wrap_info_slide{
        max-width: 480px; 
        text-align: left;
        margin-right: 30px;
        float: left;
        .ins{

        }
        h3{
          font-size: 17px; font-weight: 900; color: #ed1b24;
          line-height: 0.9;
          margin: 0; padding: 0;
          font-style: italic;
          margin-bottom: 10px; 
          font-family: @Roboto;
        }
        h6{
          display: block;
          font-size: 48px; font-weight: 700; color: #000000;
          line-height: 0.9;
          margin: 0; padding: 0;
          margin-bottom: 10px;
          font-family: @roboto_con;
          letter-spacing: -2px;
        }
        p{
          font-size: 15px; font-weight: 400; color: #333333;
          line-height: 1.5;
          margin: 0; padding: 0;
          margin-bottom: 20px;
        }
        a.btns_vc_slide{
          margin: 0; padding: 0; 
          display: inline-block;
          padding-top: 7px;
          text-align: center;
          background-color: #ed1b24;
          font-family: @roboto_con;
          font-size: 12px; font-weight: 400; color: #fff;
          width: 142px; height: 33px;
        }
        a.btns_vc_slide:hover,
        a.btns_vc_slide:focus{
          text-decoration: none;
          color: #f5f5f5;
        }
      }
    }
    img{
      margin: 0;
    }
}

section.default_sc{
  background-color: #fff;
  min-height: 300px; width: 100%;
  .prelatife.container_w2,
  .prelatife.container{
    padding-top: 4.5em; padding-bottom: 4.5em;
  }
}

section.default_sc#block_homesection1{
  background-color: #fff; 
  width: 100%; min-height: 270px; height: auto;
  background-size: cover;
  height: auto;
  // border-top: 7px solid #fff;
  padding-top: 20px;
  padding-bottom: 50px;
  .prelatife.container{
    padding-top: 0; padding-bottom: 0;
  }
  
  .tops_banner_home1{
    .lefts_itm{
      background-color: #ed1b24; 
      width: auto;
      height: 182px;
      margin-right: 13px;
      position: relative;
      z-index: 3;
      .block_human1{
        width: 209px;
        height: 182px;
        padding-left: 20px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        bottom: 0px;
        img{
          position: absolute;
          bottom: 0px;
          left: 20px;
        }
      }
      .block_frm_in{
        display: inline-block;
        vertical-align: top;
        padding-top: 50px;
        padding-left: 15px;
        p{
          margin: 0; padding: 0;
          font-family: @roboto_con;
          font-size: 33px; font-weight: 300; color: #fff;
          margin-bottom: 15px;
        }
        form.form-inline{
          .form-group{
            margin-right: 15px;
            position: relative;
            
            input{
              background: transparent;
              background-color: transparent;
              border: 0px;
              border-radius: 0px;
              font-family: @roboto_con; font-size: 12px; font-weight: 400; color: #fff;
              border-bottom: 2px solid rgba(255,255,255, 0.5);
              padding-left: 40px; padding-right: 20px;
              box-shadow: none;
              text-shadow: none;
              width: 315px;
            }
            i.fa.fa-search{
              font-size: 20px; color: #fff;
              position: absolute;
              top: 5px; left: 0px;
            }
          }
          .form-group input:before{
            display: inline-block;
            content: ""; 
            background: url(../images/mag_search_finproducts-1.png) no-repeat;
            width: 26px; height: 28px;
          }
          button{
            width: 153px; height: 33px;
            background: url(../images/buttons_black_fn-findproduct.png) no-repeat;
          }
        }
      }
    }
    .rights_itm{
      .info{
        max-width: 376px;
        position: absolute;
        bottom: 0px; left: 0px;
        width: 100%;
        padding: 13px 15px;
        p{
          margin: 0; padding: 0;
          font-family: @roboto_con;
          font-size: 16px; font-weight: 400; color: #fff;
        }
        a.btns_playvideo{
          padding: 0;
          font-family: @roboto_con;
          font-size: 12px; font-weight: 700; color: #fff;
        }
        a.btns_playvideo:before{
          content: ""; display: inline-block;
          width: 29px; height: 29px;
          background: url(../images/buttons_tbn_play_n.png) no-repeat;
          position: relative;
          top: 4px; right: 10px;
        }
      }
    }
  }

  .insides{
    .lists_banner_home_d1{
      .items{
        // border-left: 7px solid #fff;
        // .info{
        //   max-width: 155px;
        //   position: absolute;
        //   top: 0px; right: 0px;
        //   margin-top: 60px;
        //   margin-right: 25px;
        //   p{
        //     margin: 0; padding: 0;
        //     font-size: 15px; font-weight: 500; color: #404040;
        //     line-height: 1.4;
        //     text-transform: uppercase;
        //   }
        //   a.views_exBanner{
        //     text-align: left;
        //     padding: 0;
        //     text-decoration: none;
        //     font-size: 17px; font-weight: 400; color: #69950a;
        //     display: block;
        //   }
        //   a.views_exBanner:after{
        //     content: "";
        //     display: block;
        //     background: url(../images/bnc_icon_right_btn.png) no-repeat;
        //     width: 22px; height: 22px;
        //   }
        //   clear: both;
        // }
      }
      .col-md-4:last-child{
        .items{
          // border-right: 7px solid #fff;
        }
      }
    }
    clear: both;
  }
}

.posabs_fulls{
  position: absolute;
  z-index: 60; width: 100%; height: 100%;
  top: 0px; left: 0px;
}


.back-whiteimp{
  background-color: #fff !important;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

footer.foot{
  position: relative;
  background-color: #f2f2f2;
  min-height: 150px;
  height: auto;
  z-index: 1;
  font-family: @roboto_con;
  font-size: 13px; font-weight: 400; color: #585858;
  a{
    text-decoration: none;
    color: #585858;
  }
  padding-top: 25px;
  .insides_footer{
    .tops_footer{
      .lgo_footers{}
      .rights_info,
      .blk_menuFooter{
        h6{
          margin: 0; padding: 0;
          font-family: @roboto_con;
          font-size: 15px; font-weight: 700; color: #585858;
          padding-bottom: 10px;
          text-transform: capitalize;
        }
        ul.list-unstyled{
          list-style: none; margin: 0; padding: 0;
          li{
            margin: 0; padding: 0;
            padding: 3px 0;
            a{
              font-family: @roboto_con;
              font-size: 13px; font-weight: 400; color: #585858;
            }
          }
        }
      }
      .rights_info{
        p{
          margin: 0; padding: 0;
          font-family: @roboto_con;
          font-size: 13px; font-weight: 400; color: #585858;
          line-height: 1.4;
        }
      }
    }
    .line_footer{
      height: 1px;
      background-color: #d7d7d7;
    }
    clear: both;
    .socmed_footer{
      p{
        margin: 0; padding: 0; 
        padding-bottom: 10px !important;
        font-family: @roboto_con !important; 
        font-size: 15px !important; 
        color: #585858 !important;
        font-weight: 700 !important;
      }
      a{
        text-decoration: none;
        i.fa{
          font-size: 20px; color: #6d6d6d;
        }
      }
      a:hover,
      a:focus{
        i.fa-twitter{
          color: #4099FF;
        }
        i.fa-instagram{
          color: #e95950;
        }
        i.fa-facebook-square{
          color: #3b5998;
        }
        i.fa-linkedin{
          color: #0077B5;
        }
        i.fa-youtube{
          color: #bb0000;
        }
      }
    }
  }

  .btms_mnfooter{
    font-family: @poppins;
    font-size: 11px; font-weight: 400; color: rgba(255,255,255, 0.5);
    background-color: #000;
    a{
      text-decoration: none;
      font-family: @poppins;
      font-size: 11px; font-weight: 400; color: rgba(255,255,255, 0.5);
    }
    a:hover,
    a:focus{
      text-decoration: none;
      color: #fff;
    }
  }

  // footer green
  .blocks_top_footer_green{
    background-color: #03aced;
    width: 100%; height: 26px;
    .bloc_leaf{
      position: relative;
      top: -15px;
    }
    .tx_white{
      font-family: @roboto_con;
      font-size: 15px; font-weight: 700; color: #fff;
      line-height: 0.9;
      b,strong{
        font-family: @Roboto;
        font-size: 25px; font-weight: 900; font-style: italic;
        color: #fff;
      }
    }
    .bloc_green_globe{
      position: absolute;
      top: -63px; right: 0px;
    }
  }

  clear: both;
}
// end footer


.subpage{
  position: relative;
  z-index: 1;
  margin: 0; padding: 0;
  min-height: 450px; height: auto; width: 100%;;
  background-color: #fff;
}

a.btns_set_default,
button.btns_set_default{
  background: none; border-radius: 0px;
  box-shadow: none; border: 0px;
  background-color: transparent;

  text-transform: uppercase; font-family: @poppins;
  font-size: 12px; font-weight: 600; color: #fff;
  letter-spacing: 2px;
  padding: 14px 25px;
  background-color: #1063ac;
}
a.btns_set_default:hover,
a.btns_set_default:focus,

button.btns_set_default:hover,
button.btns_set_default:focus{
  opacity: 0.9;
  box-shadow: none; border: 0px;
  outline: none; background-color: #0E5CA1;
  color: #fff;
}

// insides page
.subpage_top_banner_illustration{
  background:transparent url(../images/ill-about-1.jpg) top center no-repeat;
  min-height: 273px; height: 273px;
  width: 100%;
  background-size: cover;
  position: relative;
  z-index: 2;
  h2.sub_title_p{
    margin: 0; padding: 0; text-transform: uppercase;
    font-family: @roboto_con;
    font-size: 35px; font-weight: 700; color: #fff;
    line-height: 1;
  }

  .block_infoBottom{
    background-color: rgba(66,66,66, 0.5);
    width: 100%; height: 50px;
    position: absolute;
    bottom: 0px; left: 0px;
    z-index: 10;
    p{
      margin: 0; padding: 0;
      font-size: 17px; font-weight: 400; color: #fff;
      line-height: 1;
    }
    h2.sub_title_p{
      position: absolute;
      top: -30px;
      left: 0px;
    }
    clear: both;
  }
  clear: both;
}
.subpage_top_banner_illustration.pg_about{
  background-image: url(../images/ill-about-1.jpg);
}
.subpage_top_banner_illustration.pg_product{
  background-image: url(../images/ill-products-1.jpg);
}
.subpage_top_banner_illustration.pg_video{
  background-image: url(../images/ill-video-1.jpg);
}
.subpage_top_banner_illustration.pg_dealer{
  background-image: url(../images/ill-dealer-1.jpg);
}
.subpage_top_banner_illustration.pg_contact{
  background-image: url(../images/ill-contact-1.jpg);
}

.outs_breadcrumb{
  .breadcrumb>li+li:before {
      padding: 0 5px;
      color: #fff;
      content: " / ";
  }
  ol.breadcrumb{
    margin: 0; padding: 0;
    background-color: transparent;
    padding-top: 10px;
    li{
      font-size: 14px; font-weight: 400; color: #fff;
      a{
        font-size: 14px; font-weight: 400; color: #fff;
      }
    }
    li:focus,
    li:hover,
    li.active{
      font-size: 14px; font-weight: 700; color: #fff; 
      a{
        font-size: 14px; font-weight: 400; color: #fff; 
        text-decoration: none;
      }
    }
  }
}
.outers_middle_content1{
  background-color: #fff;
  min-height: 400px;

  .block_about_tx1{
    .lefts_c{
      max-width: 590px;
    }
    .rights_c{
      position: absolute;
      top: 0px; 
      right: 25px;
    }
  }
  width: 100%;
}
.block_abouttn_1{
  position: relative;
  z-index: 25;
}
.h320{
  height: 320px;
}
.block_middle_contabout_2.back_cloud{
  background: url(../images/backs_top_middleClouds.jpg) top center no-repeat;
  background-size: cover;
  min-height: 850px; width: 100%;
  position: relative;
  z-index: 20;
  .insides{
    text-align: center;
    .txt2,
    .txt1{
      h5{
        margin: 0; padding: 0;
        line-height: 1.2;
        font-size: 17px; font-weight: 900; color: #ed1b24; font-style: italic;
        padding-bottom: 15px;
      }
      h2{
        margin: 0; padding: 0;
        line-height: 1.2;
        letter-spacing: -1px;
        font-size: 42px; font-weight: 700; color: #000; text-transform: uppercase;
        font-family: @roboto_con;
        padding-bottom: 15px;
      }
      p{
        margin: 0; padding: 0;
        line-height: 1.2;
        font-family: @Roboto;
        font-size: 18px; font-weight: 400; color: #333333;
      }
      h3{
        margin: 0; padding: 0;
        line-height: 1.1;
        font-family: @Roboto;
        font-size: 22px; font-weight: 900; color: #333333; font-style: italic;
        b,strong{
          color: #ed1b24;
        }
      }
    }
  }
}
.maw650{
  max-width: 650px;
}
.h120{
  height: 120px;
}
.lines-horizontals_n{
  clear: both;
  background: url(../images/lines_horizontals_middle-grey.jpg) no-repeat;
  width: 1px;
  height: 94px; 
}

.box-form.tl-contact-form.loginPage,
.box-form.tl-contact-form{
  max-width: 1040px;
  margin: 0 auto; 
  text-align: left;

  form{
    .form-group{ 
      margin-bottom: 18px;
      label{
        font-family: @poppins;
        font-size:14px; 
        font-weight:500; 
        color:#000;
        margin-bottom: 3px; text-align: left;
        text-transform: uppercase;
      }
      input{
        background: none; background-color: #fff;
        border-radius: 0px;
        text-shadow:none; box-shadow: none;
        // max-width: 400px;
        font-size: 14px;
        border: 1px solid #dadada;
      }
      textarea{
        margin: 0;
          background: none;
          background-color: #fff;
          border: 1px solid #dadada;
          box-shadow: none;
          text-align: left;
      }
    }
    button.btns-submit-bt{
      background: none; border-radius: 0px;
      box-shadow: none; border: 0px;
      background-color: transparent;

      width: 142px; height: 33px;
      background: url(../images/backs_btn_submitfrm.png) no-repeat;
      padding-top: 5px;
    }
    button.btns-submit-bt:hover{
      opacity: 0.9;
      background-color: transparent;
    }
  }
}
.box-form.tl-contact-form.loginPage{
  max-width: 511px;
  padding-bottom: 30px;
  form{
    .form-group{
      margin-bottom: 15px;
      label{
        font-size: 17px; color: #03aced;
        width: 148px;
      }
      input{
        height: 35px; width: 357px;
        background-color: rgba(21,21,21, 0.05);
      }
    }
  }
}

.lines-grey{
  height: 2px;
  background-color: #8a8988;
}
.inline-pict{
  display: inline-block;
  vertical-align: middle;
}

.lists_banners_dtAbout{
  .items{
    .block_desc{
      display: table;
      width: 100%; height: 100%; 
      text-align: center; vertical-align: middle;
      background-color: #2c2c2c;
      .info{
        display: table-cell;
        width: 100%; height: 100%; 
        text-align: center; vertical-align: middle;
        padding: 0 45px;
        h3{
          margin: 0; padding: 0;
          font-family: @Roboto; font-size: 30px; font-weight: 300; color: #fff;
          margin-bottom: 15px;
        }
        p{
          margin: 0; padding: 0;
          line-height: 1.3;
          font-family: @Roboto; font-size: 17px; font-weight: 300; color: #fff;
        }
      }
    }
    .block_desc.back_red{
      background-color: #87090e;
    }
    .block_desc.back_blue{
      background-color: #15293e;
    }
    .pict{
      img{
        width: 100%;
      }
    }
  }
  clear: both;
}

// css Carrier

.conts_pServices{
  .lefts{
      h5{
        margin: 0; padding: 0;
        font-family: @roboto_con;
        font-size: 21px; font-weight: 700; color: #585858;
      }
      ul{
        margin: 0; padding: 0;
        list-style: none;
        li{
          padding: 5px 0;
          background-color: transparent;
          a{
            display: block;
            padding: 0px;
            font-family: @roboto_con;
            font-size: 18px; font-weight: 400; color: #585858;
          }
        }        
        li.active,
        li:hover,
        li:focus{
          a{
            color: #ed1b24;
          }
        }
      }
  }
  .rights_cont{
    // border-left: 1px dotted #cccccc;
    // padding-left: 26px;
  }
  clear: both;
}

.conts_pServices.cont_pProduct{
    .tops_landing_products{
      position: relative;
      min-height: 250px;
      width: 100%;
      border: 1px solid #d8d8d8;
      -webkit-box-shadow: 4px 4px 9px 0px rgba(50, 50, 50, 0.25);
      -moz-box-shadow:    4px 4px 9px 0px rgba(50, 50, 50, 0.25);
      box-shadow:         4px 4px 9px 0px rgba(50, 50, 50, 0.25);
      .tops_n{
        padding-bottom: 1em;
        border-bottom: 1px solid #ea1c26;
        margin-bottom: 1em;
        .info_top{
          padding-top: 80px;
          h6{
            margin: 0; padding: 0;
            font-family: @roboto_con;
            font-size: 35px; font-weight: 400; color: #ea1c26;
            line-height: 0.9;
          }
          a{ text-decoration: none; font-family: @roboto_con; font-size: 35px; font-weight: 400; color: #ea1c26; }
          a:hover,
          a:focus{ text-decoration: none; color: #CB000A; }
        }        
        .pic_topRight{
          float: right;
          clear: both;
        }
      }

      .info{
        padding: 0px;
        position: relative; z-index: 10;
        // max-width: 470px;
        padding-top: 17%; padding-left: 30px;
        h5{
          margin: 0; padding: 0;
          font-family: @Roboto;
          font-size: 25px; font-weight: 400; color: #585858;
          line-height: 1.3;
          margin-bottom: 20px;
          }
        clear: both;
      }
      .bloc_img_right{
        float: right;
        img{}
      }

      #carousel-exn_banner.carousel{
        .carousel-indicators{
          bottom: 5px;
          margin: 0px;
          left: 0px;
          width: 100%;
          text-align: center;
          li{
            background-color: #ccc;
            width: 12px; height: 12px;
            margin: 0 1px;
          }
          li.active,
          li:hover{
            margin: 0 1px;
            width: 12px; height: 12px; 
            background-color: #56a0c3;
          }
        }
      }
      clear: both;
    }

    .middles_products{
      h6{
        margin: 0; padding: 0;
        line-height: 1;
        font-size: 14px;
        font-family: @Roboto; font-weight: 500; color: #989898;
        margin-bottom: 40px;
      }
      .lefts_c{
          .filtering_data{
            .list_filter{
              clear: both;
              padding-bottom: 35px;
              p{
                margin: 0; padding: 0; margin-bottom: 0;
                font-family: @Roboto;
                font-size: 14px; font-weight: 700; color: #585858;
                b{
                  font-family: @Roboto;
                  font-size: 14px; font-weight: 700; color: #585858;
                }
              }
              .checkbox{
                label{
                  font-family: @Roboto; font-size: 12px; font-weight: 500; color: #585858;
                }
                input[type=checkbox]{}
              }
            }
            clear: both;
          }
      }

      // end lefts_C
      .rights_c{
          .lists_sub_products{
              .items{
                border: 1px solid #d5d5d5;
                padding: 30px 0;
                .pict{
                  img{}
                }
                .info{
                  padding-top: 10%;
                  .titles{
                    margin: 0; padding: 0;
                    font-family: @roboto_con;
                    font-size: 19px; font-weight: 700; color: #585858;
                  }
                  span.cat{
                    display: block;
                    margin: 0; padding: 0;
                    font-family: @roboto_con;
                    font-size: 16px; font-weight: 400; color: #585858;
                    margin-bottom: 15px;
                  }
                  a.btns_more_prd{
                    padding: 0;
                    font-family: @roboto_con;
                    font-size: 12px; font-weight: 700; color: #fff; text-transform: uppercase;
                    background-color: #ed1b24;
                    padding: 7px 15px 0;
                    letter-spacing: 1px;
                    width: 142px; height: 33px;
                    text-decoration: none;
                  }
                  a.btns_more_prd:hover,
                  a.btns_more_prd:focus{
                    text-decoration: none;
                    background-color: #CC1D25;
                  }
                }
              }
            clear: both;
          }
          // end rights
      }
      clear: both;
    }

  clear: both;
}
.conts_pServices.cont_pProduct{
  .tops_landing_products.landing{
    background: url(../images/back_top_ill_landingprd.jpg) top right no-repeat;
    padding: 35px 30px 45px;
    .info{
      padding: 0px;
    }
    margin-bottom: 35px;
  }
  clear: both;
}

.block_detail_products{
  border: 1px solid #d8d8d8;
  padding: 50px 20px 45px;
  -webkit-box-shadow: 4px 4px 9px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    4px 4px 9px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         4px 4px 9px 0px rgba(50, 50, 50, 0.25);
  margin-bottom: 70px;
  position: relative;

  .pictures_box{
    .pict_big{
      img{
        // border: 3px solid #dadada;
        border: 0px;
      }
    }
    clear: both;
  }
  .description.lefts_cn{
    span{
      display: block;
      margin: 0; padding: 0;
      font-family: @Roboto; font-size: 16px; color: #585858; line-height: 1.2;
      font-weight: 400;
    }
    h4,h6,span{
      text-align: center;
    }
    img{
      max-width: 100%;
    }
  }

  .description.lefts_cn,
  .description{
    padding-left: 25px;
    h4{
      margin: 0; padding: 0;
      font-family: @roboto_con; font-size: 19px; color: #585858; font-weight: 700; line-height: 1.1;
      text-transform: uppercase;
    }
    h6{
      margin: 0; padding: 0;
      font-family: @Roboto; font-size: 24px; color: #585858; line-height: 1.2;
      font-weight: 400;
    }
    
    ol li,
    ul li,
    p{
      margin: 0; padding: 0;
      font-weight: 400;
      font-family: @poppins; font-size: 13px; color: #666666; line-height: 1.4;
    }
    ol li,
    ul li{
      line-height: normal;
      padding: 3px 0;
    }

    .bottoms_desc{
      padding-top: 40px;
      ul.nav.nav-tabs{
        li{
          background-color: #e4e4e4;
          height: 33px;
          border: 1px solid #bababa;
          padding: 0;
          margin-right: 3px;
          -moz-border-radius-topleft: 5px;
          -webkit-border-top-left-radius: 5px;
           border-top-left-radius: 5px;
          -moz-border-radius-topright: 5px;
          -webkit-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
          a{
            -moz-border-radius-topleft: 5px;
            -webkit-border-top-left-radius: 5px;
             border-top-left-radius: 5px;
            -moz-border-radius-topright: 5px;
            -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;

            text-decoration: none;
            font-family: @poppins;
            font-size: 13px; font-weight: 700; color: #515151;
            text-transform: uppercase;
            border: 0px;
            padding-top: 0; padding-bottom: 0;
            height: 33px;
            padding-top: 8px;
            margin-right: 0;
            border-radius: 0px;
            border-top: 4px solid transparent;
          }
        }
        li:hover,
        li:focus,
        li.active{
          a{
            border-top: 4px solid #ed1b24;
          }
        }
      }
      .tab-content{
        padding-top: 0px;
        ul li{
          color: #585858;
        }
        p,
        ul li{
          font-family: @Roboto;
          font-weight: 500;
          font-size: 14px;
        }
        ul, p{
          margin-bottom: 20px;
        }
        ul{
          margin-bottom: 25px;
        }
        p{
          color: #585858;
        }
        img{
          max-width: 100%;
        }
      }
      clear: both;

      .blocks_list{
        p img,
        img{
          max-width: 100%;
        }
        p{ 
          margin: 0; margin-bottom: 0;
        }
        clear: both;
      }
      
    }
    clear: both;
  }
  clear: both;
}

.txt_service{
  .rights_cont{
    h4{
      margin: 0; padding: 0;
      font-family: @roboto_con;
      line-height: 1;
      font-size: 35px; font-weight: 700; color: #000;
      margin-bottom: 26px;
    }
    .lefts_c{
      max-width: 560px;
      h6{
        font-family: @Roboto;
        font-size: 18px; font-weight: 400; color: #0063af;
        margin-bottom: 20px;
      }
      p{
        font-weight: 300;
        b,strong{
          font-family: @Roboto;
          font-weight: 700;
          font-size: 15px; color: #393939;
        }
      }
    }
    .lefts_c.fulls{
      max-width: inherit;
    }
    .rights_c{
      float: right;
      .items{
        max-width: 281px;
        .pict{
          margin-bottom: 12px;
          img{}
        }
        p{
          font-family: @Roboto;
          font-size: 12px; font-weight: 400;
          line-height: 1.4;
          color: rgba(57,57,57, 0.7);
        }
      }
    }
  }
}
.content-text{

.blocks_top_detailProduct{
  span{
    margin: 0; padding: 0;
    font-family: @roboto_con;
    font-size: 18px; font-weight: 400; color: rgba(0,0,0, 0.7);
    line-height: 1;
    display: block;
    margin-bottom: 5px;
  }
  h2{
    margin: 0; padding: 0;
    font-family: @roboto_con;
    font-size: 35px; font-weight: 700; color: #000;
    line-height: 1;
  }
  a.btnsr_back_product{
    padding: 0;
    font-family: @roboto_con; font-size: 16px; font-weight: 700; color: #ed1b24;
    i.fa{
      color: #ed1b24; font-size: 15px;
    }
  }
  a:focus,
  a:hover{
    text-decoration: none;
  }
}
}
.conts_pServices.conts_pVideo{
  margin-bottom: 55px;
  .rights_cont.full_c{
    border-right: 0px; padding-left: 0;
    border-left: 0;
    h6{
      font-size: 17px; font-weight: 400; color: rgba(65,65,65, 0.7);
    }
    .lists_data_defaults_lh.videos{
      .row.default{
        margin: 0 -10px;
        .col-md-3.col-sm-4{
          padding: 0 10px;
        }
      }
      .items{
        margin-bottom: 25px;
        min-height: 207px;
        .picture{
          img{}
        }
        .info{
          padding-top: 12px;
          h6{
            margin: 0; padding: 0;
            font-family: @Roboto; font-size: 14px; font-weight: 700;
            color: #134392;
            margin-bottom: 5px;
          }
          p{
            margin: 0; padding: 0;
            font-family: @Roboto; font-size: 13px; font-weight: 700;
            color: #848484;
            line-height: 1.3;
          }
          span.dates{
            margin: 0; padding: 0; display: block;
            font-size: 11px; 
            font-weight: 400;
            color: rgba(65,65,65, 0.8); line-height: 1;
            padding-bottom: 5px;
          }
        }
      }
      .items.mh-0{ min-height: 0; }
    }
  }
  clear: both;
}

.content-text.conts_pContactus,
.content-text.conts_pDealer{
  margin: 0;
  p{
    margin: 0; padding: 0;
    line-height: 1.4;
    font-family: @poppins; 
    font-size: 22px; font-weight: 400; color: rgba(65,65,65, 0.7);
  }
  p.help-block{
    text-align: center;
    font-family: @Roboto;
    line-height: 1.3;
    font-size: 14px; font-weight: 400; color: #777777;
  }
  .boxs_grey{
    border: 1px solid #d8d8d8;
    -webkit-box-shadow: 4px 4px 9px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    4px 4px 9px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         4px 4px 9px 0px rgba(50, 50, 50, 0.25);
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 20px; padding-right: 20px;
    .rights{
      padding-left: 10px;
    }
    p{
      margin: 0; padding: 0;
      font-family: @Roboto; font-size: 18px; font-weight: 400; color: #0063af;
      line-height: 1.3;
    }
  }
  .blocksn_form_filter{
    form{
      margin: 0; padding: 0;
      .form-group{
        margin-right: 10px;
        display: inline-block;
        label{
          display: block;
          font-family: @Roboto;
          font-size: 16px; font-weight: 400; color: #414141;
          padding-bottom: 5px;
          text-align: left;
        }
        input,select{
          background: none; background-color: transparent;
          box-shadow: none; border-radius: 0px;
          height: 35px; width: 261px;

          font-family: @Roboto;
          font-size: 14px; font-weight: 400; color: #414141;
          border: 1px solid #d8d8d8;
        }
        button.btns_csubmit{
          background: none; background-color: transparent;
          box-shadow: none; border-radius: 0px; padding: 0;
          background: url(../images/backs_btn_findExpert.png) no-repeat;
          width: 293px; height: 23px;
        }
      }
      .form-group:last-child{
        margin-right: 0;
      }
    }
    p.help-block{
      font-size: 14px; font-weight: 400; color: #134392;
    }
  }

    /* list location data */
  .boxs_list_location_finds_n{
    margin-bottom: 20px;

    .blocks_lists_locat_data{
      padding-top: 30px;
      .items{
        margin-bottom: 25px; min-height: 145px; 
        address{
          margin: 0; padding: 0;
          font-family: @poppins;
          color: #404040; font-size: 14px; font-weight: 400;
          line-height: 1.5;
          b,strong{
            text-transform: capitalize;
            color: #404040; font-size: 14px;
            font-weight: 700;
          }
          a.links_dealer_loc{
            text-decoration: none;
            color: #404040; 
            font-size: 15px; line-height: 1.5;
            font-weight: 700; 
            padding-bottom: 0px;
            border-bottom: 0;
          }
          a{
            font-size: 14px; font-weight: 500;
            color: #041d69;
            text-decoration: none;
            padding-bottom: 2px;
            border-bottom: 1px solid #041d69;
            display: inline-block; text-align: center;
          }
          a:hover,
          a:focus{
            text-decoration: none;
            color: #000;
          }
        }
      }
    }
  }

  .boxs_view_maps{
    padding-bottom: lists_data_defaults_lh5px;
    .tops_title{
      display: block;
      margin: 0; padding: 0;
      font-family: @poppins; font-size: 14px; font-weight: 600; color: #404040;
      line-height: 1.3;
      padding-bottom: 20px;
      b,strong{
        margin: 0; padding: 0;
        font-family: @poppins; font-size: 18px; font-weight: 700; color: #152c73;
        text-transform: uppercase;
      }
    }
    .maps_area{
      border: 1px solid #d8d8d8;
      clear: both;
    }
    clear: both;
  }

  clear: both;
}
.content-text.conts_pContactus{
  margin-bottom: 40px;
  h2{
    margin: 0; padding: 0;
    line-height: 1.2;
    font-family: @Roboto;
    font-size: 35px; font-weight: 300; color: #0063af;
    margin-bottom: 20px;
  }
  h4{
    margin: 0; padding: 0;
    line-height: 1.3;
    font-family: @Roboto;
    font-size: 22px; font-weight: 400; color: #414141;
    margin-bottom: 20px;
  }
  p{
    margin: 0; padding: 0;
    line-height: 1.5;
    font-family: @Roboto;
    font-size: 16px; font-weight: 400; color: #414141;
    b,strong{
      font-family: @Roboto;
      font-size: 16px; font-weight: 400; color: #69950a;
    }
  }

  .boxs_grey{
    padding: 0px;
    .tops{
      height: 41px;
      background-color: #ed1b24;
      padding-top: 10px;
      text-align: center;
      h5{
        margin: 0; padding: 0;
        font-family: @Roboto;
        letter-spacing: 1px;
        font-size: 16px; font-weight: 700; color: #fff; text-transform: uppercase;
      }
    }
  }
  clear: both;
}

.conts_pServices.cont_pProduct .tops_landing_products .info.blocks_info_CategoryProducts{
  // padding-top: 17%;
  h5{
    margin: 0; padding: 0;
    margin-bottom: 0;
    font-family: @roboto_con;
    font-size: 35px; font-weight: 400; color: #ea1c26;
    line-height: 1;
    padding-bottom: 15px;
  }
  h6{
    margin: 0; padding: 0;
    margin-bottom: 0;
    font-family: @roboto_con;
    font-size: 19px; font-weight: 400; color: #585858;
    line-height: 1.2;
  }
  .lists_ln{
    margin: 0; padding: 0;
    max-width: 920px;
    .itm{
      max-width: 210px;
      font-family: @roboto_con; font-size: 19px; font-weight: 400; color: #585858;
      .picture{
        img{ border: 1px solid #ccc; }
      }
      .names,
      a{
        text-decoration: none;
        font-family: @roboto_con; font-size: 19px; font-weight: 400; color: #585858;
      }
      .names{
        padding-top: 6px; text-align: center;
      }
      clear: both;
    }
  }
}
.conts_pServices{
  .lefts{
      h5{
        margin: 0; padding: 0;
        font-family: @roboto_con;
        font-size: 17px; font-weight: 700; color: #404040; text-transform: uppercase;
      }
      ul{
        margin: 0; padding: 0;
        list-style: none;
        li{
          padding: 6px 0;
          background-color: transparent;
          a{
            display: block;
            padding: 0px;
            font-family: @roboto_con;
            font-size: 16px; font-weight: 400; color: #666666;
          }
        }        
        li.active,
        li:hover,
        li:focus{
          background: url(../images/backs_left_men_hover_services.jpg) no-repeat;
          position: relative;
          left: -25px;
          padding-left: 25px;
          a{
            color: #69950a;
          }
        }
      }
  }
  .rights_cont{
    border-left: 1px dotted #cccccc;
    padding-left: 26px;
    .tops_c{
      padding-bottom: 10px;
      p{
        margin: 0; padding: 0;
        font-family: @roboto_con;
        font-size: 22px; font-weight: 400; color: rgba(65,65,65, 0.7);
        margin-bottom: 28px;
        strong,b{
          font-family: @roboto_con;
          font-size: 27px; color: #69950a; font-weight: 400;
        }
      }
      clear: both;
    }
    h6{
      margin-top: 5px;
      margin-bottom: 15px;
    }
    ul{
      margin-bottom: 30px;
    }

    clear: both;
  }

  .lists_data_defaults_lh{
  .items{
    max-width: 324px;
    min-height: 290px;
    margin-bottom: 10px;
    .picture{
      img{
        border: 0px;
      }
    }
    .info{
      padding-top: 17px;
      h6{
        margin: 0; padding: 0;
        line-height: 1;
        font-family: @roboto_con; font-size: 16px; font-weight: 700;
        color: #000;
        margin-bottom: 12px;
      }
      p{
        margin: 0; padding: 0;
        line-height: 1.5;
        font-family: @roboto_con; font-size: 14px; font-weight: 400;
        color: #414141;
      }
    }
  }
}
  clear: both;
}

/*----------------------- Midle Text Content -----------------*/
.content-text{
      font-family: @Roboto;
      font-weight: 300;
      font-size: 15px;
      color: #393939;
  }

  .content-text h1,
  .content-text h2,
  .content-text h3,
  .content-text h4,
  .content-text h5{ font-family: @roboto_con; margin: 0; padding: 0; margin-bottom: 20px; }

  .content-text h1{  }
  .content-text h2{ clear: both; font-size: 43px; font-family: @roboto_con; font-weight: 700; color: #000; line-height: 1; text-transform: uppercase; }
  .content-text h3{ clear: both; margin: 0px; margin-bottom: 0px; font-size: 30px; font-family: @Roboto; font-weight: 700; color: #000; line-height: 1.3; }
  .content-text h4{  }
  .content-text h5{ clear: both; margin: 0px; margin-bottom: 5px; font-size: 28px; font-family: @Roboto; font-weight: 700; color: #464646; line-height: 1.2; }
  .content-text h6{ clear: both; margin: 0px; margin-bottom: 25px; font-size: 18px; font-family: @Roboto; font-weight: 400; color: #0063af; line-height: 1.4; }

  .content-text .m-0{
    margin-bottom: 0;
  }

  .content-text ul,ol{
    margin: 0; margin-right: 0;
  }
  .content-text p{
      margin: 0px;
      margin-bottom: 20px;

      font-family: @Roboto;
      font-weight: 400;
      font-size: 15px;
      color: #000;
      line-height: 1.4;
  }

  .content-text p a{
      text-decoration: none;
      color: #636363;
  }
  .content-text span.br5{
    clear: both; margin-bottom: 0;
    height: 5px;
  }
  .content-text span{
      margin: 0;
      margin-bottom: 25px;

      font-family: @Roboto;
      font-weight: 500;
      font-size: 16px;
      color: #636363;
  }
  img.pc-center{
      margin: 0 auto;
      display: block;
      text-align: center;
  }
  .content-text ol,
  .content-text ul{
    margin-left: -5px;
    margin-bottom: 20px;
    li{
      padding: 2px 0; line-height: 1.4;
      font-family: @Roboto;
      font-size: 15px;
      color: #393939;
      font-weight: 300;
    }
  }

#back-top {
    color: #FFF;
    background: none repeat scroll 0% 0% #FFF;
    font-size: 20px;
    line-height: 100%;
    display: inline-block;
    position: fixed;
    z-index: 500;
    // right: 0px;
    // bottom: 0px;
    bottom: 0px;
    right: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    top: inherit !important;

    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:    0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow:         0px 0px 4px 0px rgba(0, 0, 0, 0.15)
}
#back-top i.fa {
    color: #565656;
}
ul.list-un{
  list-style: none; margin: 0; padding: 0;
  margin-bottom: 0 !important;
}


.blocks_leftn_cbutton{
  .blocks_ls{
    .list{ max-width: 225px; margin: 0 auto; }
  }
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .blocks_leftn_cbutton{
    .blocks_ls{
      // .list{ max-width: 345px; margin: 0 auto; }
    }
  }
}
.pt-0{ padding-top: 0 !important; }

// customize upgrade

.dropdown-toggle::after{
  display: none !important;
}
.outs_breadcrumb{
  text-align: right;
  ol.breadcrumb{
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 767px) {
  
  .navbar-toggler{
    border: 0;
    padding: 0; 
  }
  .navbar-toggler:focus,
  .navbar-toggler:hover{
    outline: none;
    border: 0;
  }

  .bloc_warranty_reg{
    a.btn{
      max-width: 61%;
      border-radius: 0;
      font-size: 13px;
    }

    a.first{
      background-color: #6190dd;
        }
    a.second{
          background-color: #4278d1;
        }
    a.third{
          background-color: #2c65c3;
        }

    margin: 0.2rem 0 0.4rem;
    clear: both;  
  }

  .outs_breadcrumb ol.breadcrumb{
    justify-content: inherit;
  }

  a.navbar-brand {
      display: block;
      max-width: 145px;
  }
  .bg-light {
      background-color: #fff!important;
  }

}

@import "blog.less";