/*----------------- Responsive ---------------------*/
@media (min-width: 1620px){
	
	.container{ 
		max-width: 1658px;
		width: auto;
	}
	section.blocks_homeContentProducts#home_productsn .inners_content .lists_products_default .items .info .titles-inf{
		height: 80px;
	}

}

@media (max-width: 1620px){
	
	body{
		font-size: 67.5%;
	}

	a.btns_bluedefaults{
		font-size: 2.3em;
	}
	section.blocks_homeContentProducts#home_productsn .inners_content .lists_products_default .items a.btns_bluedefaults {
	    font-size: 1.9em;
	}

	section.blocks_home_contents1#home-content-1 .outers_block_texts .inners ol li, section.blocks_home_contents2#home-content-2 .outers_block_texts .inners ol li, section.blocks_home_contents3#home-content-3 .outers_block_texts .inners ol li, section.blocks_home_contents5#home-content-5 .outers_block_texts .inners ol li{
		padding-bottom: 15px;
	}

}

@media screen and (max-width: 1280px) , screen and (max-width: 1450px) {

	.outers-block-top-wrapfcs .block_customs_textfcs .insides h3{
		/* font-size: 1.6em;
		line-height: 1.1;
		margin-bottom: 20px; */
	}

	section.blocks_home_contents2#home-content-2,
	section.blocks_home_contents2.back-5#home-content-2,
	section.blocks_home_contents3#home-content-3,
	section.blocks_home_contents1#home-content-1{
		min-height: inherit;
	}
	section.blocks_home_contents1#home-content-1 .outers_block_texts{
		padding-top: 6%;
		padding-bottom: 6%;
	}
	section.blocks_home_contents1#home-content-1 .outers_block_texts .inners ol li, 
	section.blocks_home_contents2#home-content-2 .outers_block_texts .inners ol li, 
	section.blocks_home_contents3#home-content-3 .outers_block_texts .inners ol li, 
	section.blocks_home_contents5#home-content-5 .outers_block_texts .inners ol li{
		padding: 11px 0 0.6em;
	}
	section.blocks_home_contents2.back-5#home-content-2 .outers_block_texts{
		padding-top: 10%;
		padding-bottom: 10%;		
	}

}

@media (max-width: 1280px){
	body {
	    font-size: 57.5%;
	}
}

@media (max-width: 1200px){
	
	.wrapper{ margin: 0px; }
	

}

/* Large desktop */
@media (max-width : 1135px){
		
	footer.foot{
		padding-bottom: 1em;
	}

	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
		max-width: inherit;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

}

/*(max-width : 1024px) and*/
@media (max-width: 1200px){
	
}

@media (max-width: 1135px){
	
	.lgo_footers{
		max-width: 135px;
	}
	footer.foot .t-copyrights a,
	footer.foot .t-copyrights{
		font-size: 8px;
	}
	section.blocks_home_contents1#home-content-1 .outers_block_texts .inners h3, section.blocks_home_contents2#home-content-2 .outers_block_texts .inners h3, section.blocks_home_contents3#home-content-3 .outers_block_texts .inners h3, section.blocks_home_contents5#home-content-5 .outers_block_texts .inners h3{
		font-size: 29px;
	}

	/* section.blocks_home_contents1#home-content-1{
		background-position-x: -600px;
	}
	section.blocks_home_contents2#home-content-2{
		background-position-x: -360px;
	}
	section.blocks_home_contents5#home-content-5,
	section.blocks_home_contents3#home-content-3{
		background-position-x: -685px;
	} */

}

@media (min-width : 1003px) {
	.headers-responss{ display: none; }	
	.hidden-headersetku{ display: block; }
}

@media (max-width : 1002px) {
	
	.headers-responss{ 
		display: none;
		height: auto;
	}	

	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
	}
	header.head{
		overflow: hidden;
		height: auto;
		/* padding-bottom: 1em; */
	}
	

	section.blocks_home_contents2.back-5#home-content-2,
	section.blocks_home_contents1#home-content-1, 
	section.blocks_home_contents2#home-content-2, 
	section.blocks_home_contents3#home-content-3, 
	section.blocks_home_contents5#home-content-5{
		background: none;
		background-color: #e4e4e4;
	}
	section.blocks_home_contents5#home-content-5,
	section.blocks_home_contents2.back-5#home-content-2,
	section.blocks_home_contents2#home-content-2{
		background-color: #fff;
	}
	section.blocks_home_contents1#home-content-1 .outers_block_texts, 
	section.blocks_home_contents2#home-content-2 .outers_block_texts, 
	section.blocks_home_contents3#home-content-3 .outers_block_texts, 
	section.blocks_home_contents5#home-content-5 .outers_block_texts{
		padding: 6% 0;
	}
	section.blocks_home_contents1#home-content-1 .outers_block_texts{
		padding-bottom: 0%;
	}

	a.btns_bluedefaults, section.blocks_homeContentProducts#home_productsn .inners_content .lists_products_default .items a.btns_bluedefaults{
		white-space: inherit;
		font-size: 1.6em;
    	padding: 0.5em 1.1em;
	}
	section.blocks_homeContentProducts#home_productsn{
		padding-top: 1em;
	}

}

@media (max-width: 992px) {

	.header-affixs{
		display: none;
	}
	header.head{
		padding-top: 1.5em;
		padding-bottom: 1em;
	}
	header.head .logo-heads img{
		max-width: 120px;
	}
	header.head .navbar-default{
		margin-bottom: 0;
		border-radius: 0px;
		padding: 0 15px;
	}

	.navbar-light .navbar-toggler{
		border-radius: 0px;
	}
	.navbar-light .navbar-brand{
		max-width: 160px;
	}
	.navbar{
		padding-bottom: 10px;
	}
	.navbar-collapse{

	}
	.navbar-collapse ul.navbar-nav{
		padding: 10px 0;
	}
	.navbar-collapse ul.navbar-nav li{
		padding: 3px 0;
	}
	.navbar-collapse ul.navbar-nav li:last-child{
		padding-bottom: 0;
	}
	.navbar-collapse ul.navbar-nav li a{
		font-family: "roboto", sans-serif;
		color: #000; 
		text-transform: uppercase;
		font-size: 13px;
	}


	section.blocks_home_contents3#home-content-3 .outers_block_texts{
		position: relative; z-index: 3;
	}
	section.blocks_home_contents3#home-content-3 .features_banner{
		position: relative; margin-top: -348px; z-index: 1;
	}

}

@media (max-width: 980px){
	


}
@media (max-width: 800px){
	
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
		
}

@media (min-width: 768px){

}

@media (max-width: 768px){
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	.slider-container.preserve-3d{
		display: none;
	}
	.headers-responss{
		display: block;
	}

	header.homep.head,
	header.head{
		position: relative;
	}
	
	footer [class*="col-md"]{
		/*margin: 15px auto;*/
	}
	header.head .navbar-collapse{
		padding: 0px;
	}

	section.blocks_home_contents2.back-5#home-content-2,
	section.blocks_home_contents1#home-content-1, 
	section.blocks_home_contents2#home-content-2, 
	section.blocks_home_contents3#home-content-3, 
	section.blocks_home_contents5#home-content-5{
		background: none; min-height: 300px;
		background-color: #fff;
		padding-bottom: 2em;
		border-bottom: 1px solid #ccc;
		text-align: center;
	}
	section.blocks_home_contents1#home-content-1 .outers_block_texts .inners h3, section.blocks_home_contents2#home-content-2 .outers_block_texts .inners h3, section.blocks_home_contents3#home-content-3 .outers_block_texts .inners h3, section.blocks_home_contents5#home-content-5 .outers_block_texts .inners h3{
		font-size: 28px;
	}
	section.blocks_home_contents1#home-content-1 .outers_block_texts, section.blocks_home_contents2#home-content-2 .outers_block_texts, section.blocks_home_contents3#home-content-3 .outers_block_texts, section.blocks_home_contents5#home-content-5 .outers_block_texts{
		padding-top: 2.5em;
	}

	section.blocks_home_contents3#home-content-3 .outers_block_texts .inners h3, section.blocks_home_contents3#home-content-3 .outers_block_texts .inners p{
		color: #000;
	}

	footer.foot .ins_footer .socials_block .tx_socials{
		padding-bottom: 0.7em;
	}
	section.blocks_home_contents1 .outers_block_texts{

	}

	.lefts_contact{
		padding-bottom: 2.5em;
	}

	.blocks_inner_page#inside_page .inners_box form .text-right,
	.blocks_top_red .text-right{
		text-align: left !important;
	}
	.blocks_inner_page#inside_page .inners_box form .text-right button{
		margin-top: 1em;
	}
	.blocks-tops-footernav .borders{
		border: 0px;
		border-top:1px solid #aaa;
		border-bottom:1px solid #aaa;
	}

	section.blocks_home_contents1#home-content-1 .outers_block_texts .inners ol li{
		text-align: left;
	}
	section.blocks_home_contents1#home-content-1 .outers_block_texts .inners p, section.blocks_home_contents2#home-content-2 .outers_block_texts .inners p, section.blocks_home_contents3#home-content-3 .outers_block_texts .inners p, section.blocks_home_contents5#home-content-5 .outers_block_texts .inners p{
		font-size: 15px;
	}

	.socials-heads{
		padding-top: 9px;
	}
	.socials-heads a i.fa{
		font-size: 1.8em;
	}
	section.blocks_homeContentProducts#home_productsn .inners_content .lists_products_default .col-md-4 {
		border-right: 0;
	    border-bottom: 2px solid #9a9a9a;
	}
	section.blocks_home_contents5#home-content-5{
		border-bottom: 0px;
	}
	section.blocks_home_contents1#home-content-1{
		background-color: #e4e4e4;
	}

	section.blocks_home_contents1#home-content-1 .outers_block_texts .inners ol{
		margin-right: 0;
	}

	section.blocks_home_contents3#home-content-3 .outers_block_texts .inners p,
	section.blocks_home_contents3#home-content-3 .outers_block_texts .inners h3,

	section.blocks_home_contents2#home-content-2 .outers_block_texts .inners p,
	section.blocks_home_contents2#home-content-2 .outers_block_texts .inners h3,

	section.blocks_home_contents1#home-content-1 .outers_block_texts .inners p,
	section.blocks_home_contents1#home-content-1 .outers_block_texts .inners h3{
		text-align: left;
	}

	section.blocks_home_contents3#home-content-3 .outers_block_texts .inners p,
	section.blocks_home_contents3#home-content-3 .outers_block_texts .inners h3{
		color: #fff;
	}
	section.blocks_home_contents3#home-content-3{
		background-color: #000; color: #fff;
	}

	section.blocks_home_contents2#home-content-2#home-content-2,
	section.blocks_home_contents3#home-content-3,
	section.blocks_home_contents2#home-content-2,
	section.blocks_home_contents1#home-content-1{
		padding-bottom: 0;
	}
	section.blocks_home_contents3#home-content-3 .outers_block_texts{
		position: relative; z-index: 3;
	}
	section.blocks_home_contents3#home-content-3 .features_banner{
		position: relative; margin-top: -195px; z-index: 1;
	}
	section.blocks_home_contents5#home-content-5 .outers_block_texts .inners p br{
		display: none;
	}

	section.blocks_homeContentProducts#home_productsn{
		padding-bottom: 0;
	}
	section.blocks_homeContentProducts#home_productsn .height-30{
		height: 0;
	}
	section.blocks_home_contents1#home-content-1 .outers_block_texts .inners h3 br{
		display: none;
	}
	.spacer{
		display: none;
	}

	section.blocks_home_contents1#home-content-1 .features_banner{
		position: relative;
		margin-top: -55px; 
		z-index: 1;
	}
	section.blocks_home_contents1#home-content-1 .container{
		position: relative; z-index: 5;
	}
	section.blocks_homeContentProducts#home_productsn .inners_content .lists_products_default .items{
		padding-top: 2em; 
		padding-bottom: 2.3em;
	}
	section.blocks_homeContentProducts#home_productsn .inners_content .lists_products_default .col-md-4:last-child{
		border-bottom: 0px; 
		padding-bottom: 1.5em;
	}
	section.blocks_home_contents5#home-content-5 .outers_block_texts .inners p{
		font-size: 13px;
	}
	a.btns_bluedefaults{
		padding-top: 5px; padding-bottom: 5px;
	}

	.blocks-tops-footernav .inners_listbox .ins_text{
		padding: 0.6em 0;
	}

	section.blocks_home_contents1#home-content-1 .outers_block_texts .inners h3, 
	section.blocks_home_contents2#home-content-2 .outers_block_texts .inners h3, 
	section.blocks_home_contents3#home-content-3 .outers_block_texts .inners h3, 
	section.blocks_home_contents5#home-content-5 .outers_block_texts .inners h3 {
	    font-size: 18px;
	}
	section.blocks_home_contents1#home-content-1 .outers_block_texts .inners ol li, section.blocks_home_contents2#home-content-2 .outers_block_texts .inners ol li, section.blocks_home_contents3#home-content-3 .outers_block_texts .inners ol li, section.blocks_home_contents5#home-content-5 .outers_block_texts .inners ol li{
		font-size: 11px;
	}
	section.blocks_home_contents1#home-content-1 .outers_block_texts .inners p, section.blocks_home_contents2#home-content-2 .outers_block_texts .inners p, section.blocks_home_contents3#home-content-3 .outers_block_texts .inners p, section.blocks_home_contents5#home-content-5 .outers_block_texts .inners p{
		font-size: 11px; line-height: 1.4; 
	}
	section.blocks_homeContentProducts#home_productsn .inners_content .lists_products_default .items .info .titles-inf{
		margin-bottom: 0;
	}
	a.btns_bluedefaults, section.blocks_homeContentProducts#home_productsn .inners_content .lists_products_default .items a.btns_bluedefaults{
		padding-left: 2em; padding-right: 2em;
	}

	section.blocks_homeContentProducts#home_productsn .inners_content h3{
		font-size: 23px;
		margin-bottom: 0.2em;
	}
	section.blocks_homeContentProducts#home_productsn .inners_content .lists_products_default .items .info span.categorys{
		padding: 5px 10px;
	}

	section.blocks_homeContentProducts#home_productsn .inners_content .lists_products_default .col-md-4:first-child .items{
		padding-top: 1.4em;
	}

	section.blocks_homeContentProducts#home_productsn .inners_content .lists_products_default .items .info .titles-inf{
		font-size: 18px;
	}

	a.btns_bluedefaults, 
	section.blocks_homeContentProducts#home_productsn .inners_content .lists_products_default .items a.btns_bluedefaults{
		font-size: 14px;
		border-width: 3px;
	}

	.blocks-tops-footernav .inners_listbox .ins_text a{
		font-size: 12px;
	}

	footer.foot .ins_footer .socials_block .tx_socials a{
		font-size: 11px;
	}
	ul, ol {
	    padding-left: 0.9em;
	}

	section.blocks_home_contents3#home-content-3 .outers_block_texts .inners h3 br{
		display: none;
	}
	section.blocks_homeContentProducts#home_productsn{
		padding-top: 3.5em; 
	}
	section.blocks_homeContentProducts#home_productsn .inners_content .lists_products_default .items .info{
		padding-left: 0em;
	}
	section.blocks_homeContentProducts#home_productsn .inners_content .lists_products_default .items .info .titles-inf{
		height: auto; overflow: visible; 
		padding-bottom: 0.5em;
	}
	section.blocks_homeContentProducts#home_productsn .inners_content .lists_products_default .items .info span.categorys{
		margin-bottom: 8px;
	}

	section.blocks_homeContentProducts#home_productsn .inners_content .lists_products_default{}
	section.blocks_homeContentProducts#home_productsn .inners_content .lists_products_default .row{
		margin: 0px;
	}
	section.blocks_homeContentProducts#home_productsn .inners_content .lists_products_default .row .col-md-4{
		padding-left: 0; padding-right: 0; 
	}
	.blocks-tops-footernav .inners_listbox{
		padding-top: 0em;
	}
	footer.foot .ins_footer .socials_block .tx_socials{
		font-size: 11px;
	}
	footer.foot .ins_footer{
		padding-bottom: 0.9em;
	}
	.blocks_top_red h3{
		font-size: 18px;
	}
	.backs_home a{
		font-size: 12px;
	}
	.blocks_inner_page#inside_page{
		padding-bottom: 2em; border-bottom: 0;
	}
	.blocks_inner_page#inside_page .inners_box .lefts_contact p{
		font-size: 14px;
	}
	.features_banner.banners2{
		position: relative;
		margin-top: -20px;
		z-index: 1;
	}
	section.blocks_home_contents2#home-content-2 .outers_block_texts .inners{
		position: relative; z-index: 3;
	}


	section.blocks_home_contents1#home-content-1 .outers_block_texts .inners ol li:first-child{
		padding-top: 5px;
	}
	section.blocks_home_contents1#home-content-1 .outers_block_texts .inners ol li, 
	section.blocks_home_contents2#home-content-2 .outers_block_texts .inners ol li, 
	section.blocks_home_contents3#home-content-3 .outers_block_texts .inners ol li, 
	section.blocks_home_contents5#home-content-5 .outers_block_texts .inners ol li{
		padding-bottom: 0px;
	}

	section.blocks_home_contents2.back-5#home-content-2 .outers_block_texts{
		padding-bottom: 3%;
	}
	section.blocks_home_contents2#home-content-2 .outers_block_texts .inners p:last-child{
		margin-bottom: 0;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {
}

@media (max-width: 360px) {
}

@media (max-width: 358px) {
}