/*----------------------- IMPORT FONT ------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i);
/*font-family: 'Roboto', sans-serif;*/

@roboto: 'Lato', sans-serif;
@amiri: 'Amiri', sans-serif;
@roboto: 'Roboto', sans-serif;
@font_default: 'Roboto', sans-serif;

@color_blue: #00abe5;

@base_image: "../images_landing/";
@base_css: "../css_landing/";

// @import "subpage.less";

/*---------------------------- GENERAL -------------------------*/

img{
    border: none;
    user-drag: none; 
    -moz-user-select: none;
    -webkit-user-drag: none;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
a:focus{
    outline: none;
}
a{
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
html,
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.h100per{
    height: 100%;
}
#pushstat{ display: none; }
body{
    background: transparent;
    margin: 0;
    padding: 0;
    
    font-family: @font_default;
    font-weight: 400;
    font-size: 14px;
    
    color: #fff;
    background: #000000;
}
a:hover,
a:focus{
    outline: none;
}
html, body, p, span, div, h1, h2, h3 ,h4 ,h5 ,h6, ul, li, ol, a, table, tr, td, th{
    font-family: @font_default;
    font-weight: 400;
}
.prelatife{
    position: relative;
}
body{
    /*test for not responsive*/
    /*min-width: 1167px;*/
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1167px;
    /*test for not responsive*/
    /*min-width: 1167px;*/

    width: 1167px;
    margin: 0 auto;
    padding: 0px;
    /*height: 100%;*/
}

.tengah{
    margin: 0 auto;
    padding: 0px;
}

#preloader {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dadbdb url(../images_landing/bgloader.jpg) left top repeat-x;
    height: 100%;
    z-index: 1500;
}
#statusloader {
    text-align: center;
    margin: 0 auto;
    left: inherit;
    width: 100%;
    vertical-align: middle;

    height: 100px;
    position: absolute;
    top: 36%;
    background-image: url(../images_landing/loading2.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

.carousel-inner > .item.active.right,
.carousel-inner > .item.active.left {
    float: none !important;
}
.back-white{
  background-color: #fff;
}
.back-grey{
  background-color: #ccc;
}

.v-top{
    vertical-align: top;
}
.d-inline{
    display: inline-block;
    vertical-align: top;
}
.lines-grey{
    height: 1px;
    background-color: #cccccc;
}

.table_out{
    width: 100%; height: 100%;
    display: table; vertical-align: middle; text-align: center;
    .table_in{
        width: 100%; height: 100%;
        display: table-cell; vertical-align: middle; text-align: center;
    }
}
.h100per{
    height: 100%;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fright{
    float: right;
}
.fleft{
    float: left;
}

.posfull-abs.inside{
    position: relative;
    top: inherit; left: inherit;
}
.posfull-abs{
    position: absolute;
    width: 100%;
    top: 0px; left: 0px;
    z-index: 250;
}
.header.posfull-abs{
    z-index: 100;
    margin-top: 0px;
}

.dblock{ display: block; }
.pb-0{ padding-bottom: 0 !important; }

/*--------------- Header Blocks ----------------*/
header.head{
    width: 100%;
    // position: relative;
    position: absolute;
    z-index: 1500;
    
    background-color: transparent;
    height: auto;
    width: 100%;

    height: auto;
    background-color: #fff;
    // background: url('@{base_image}back-headers.jpg') repeat-x;
    padding:1.3em 0;
    max-height: 65px; overflow: hidden;
    .logo-heads {
        display: block;
        max-width: 135px;
    }
    .outers-back-header{
        padding-top: 20px;
        .container.prelatife{
            max-width: inherit; min-width: inherit; width: auto;
            padding: 0 32px;
        }
        .lefts_head{
            .logo-headers{
                display: inline-block;
                vertical-align: middle;
            }
            .taglines_head{
                display: inline-block;
                vertical-align: middle;

                padding-top: 15px; padding-left: 20px;
                font-family: @amiri; text-transform: uppercase;
                font-size: 13px; font-weight: 400; color: #3c3c3c;
            }
            clear: both;
        }

        .top-menu{
            text-align: right;
            ul{
                list-style: none; padding: 0; margin: 0;
                padding-top: 17px;
                li{
                    padding: 0 15px;
                    a{
                        font-family: @roboto;
                        font-size: 12px; font-weight: 500;
                        color: #000;
                        text-transform: uppercase;
                        padding-bottom: 20px; letter-spacing: 1px;
                    }
                }
                li:first-child{
                    padding-left: 0;
                }
            }
        }

        .top-menu ul li.active a,
        .top-menu ul li a:hover,
        .top-menu ul li a:focus{ 
            color: #333; 
            text-decoration: none;
        }

        clear: both;
    }
    clear: both;
}

.block-wrap-fcss-top-conhome{
    background-color: #010028;
    position: relative;
}

.outers_cont_inside_page{
    position: relative;
    // z-index: 2;
}

section.default_sc{
    min-height: 400px; 
    height: auto;
    position: relative;
    width: 100%;
    background-color: #fff;
    .container.prelatife{
        padding-top: 8%;
        padding-bottom: 7%;
    }
}

.spacer{
    display: block; content: "";
    width: 100%; height: 45px;
    background-color: #c2c2c2;
}

.outers-block-top-wrapfcs{
    // right: 0px;
    position: absolute;
    bottom: 0px; text-align: center;

    width: 100%; height: auto;
    // overflow: hidden;

    z-index: 15;
    .container{
        height: 100%;
    }
    
    .block_customs_textfcs{
        position: relative;
        z-index: 50;
        width: 740px; margin: 0 auto;
        padding-bottom: 20px;
        background-color: transparent;
        height: auto;

        .insides{
            text-align: center;
            clear: both;

            text-shadow: none;
            h2{
                margin: 0; padding: 0;
                line-height: 1.2; display: block;
                
                font-family: @roboto;
                font-size: 35px; font-weight: 300; color: #fff;
                text-transform: inherit;
                b, strong{
                    font-weight: 700;
                }
            }
            p{
                margin: 0; padding: 0;
                font-family: @roboto;
                line-height: 1.5; display: block;
                font-size: 20px; font-weight: 300; color: #fff;
                padding-bottom: 5px;
            }

            clear: 
            both;
        }
        clear: both;
    }
    clear: both;
}

a.btns_bluedefaults{
    display: inline-block;
    box-shadow: none;
    // border-radius: 0px;
    background: none; background-color: transparent;
    border: 0px;

    width: auto;
    height: auto; line-height: inherit;

    background-color: transparent;
    padding: 12px 60px;
    text-align: center;
    // height: auto;
    border: 5px solid #0155b3;
    font-family: @roboto;
    font-size: 13px;
    font-weight: 500;
    color: #0155b3;
    text-transform: uppercase;
}
a.btns_bluedefaults:hover,
a.btns_bluedefaults:focus{
    text-decoration: none;
    background-color: transparent;
    color: #0155b3;
}

.blocks-tops-footernav{
    background-color: #fff;
    .borders{
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }
    .inners_listbox{
        padding: 0.5em 0;
        .ins_text{
            padding: 1em 0;
            text-align: center;
            a{
                font-size: 14px; 
                font-weight: 500;
                color: #0155b3; 
                text-transform: uppercase;
            }
            a:hover,
            a:focus{
                text-decoration: none; color: #0155b3;
            }
        }
        clear: both;
    }
}

footer.foot{
    position: relative;
    background-color: #171717;
    min-height: 100px;
    height: auto;
    z-index: 1;
    padding-top: 0px;
    padding-bottom: 0px;

    .lgo_footer_web{
        display: inline-block;
    }
    .bottoms_foot{
        padding: 0.8em  0;
        background-color: #171717;
        font-family: @roboto;
        font-size: 9px; font-weight: 300; color: #535353;
    }
    .ins_footer{
        padding-top: 2.2em; 
        .socials_block{
            .tx_socials{
                font-family: @roboto; text-align: center;
                font-size: 12px; font-weight: 400; color: #fff;
                a{
                    text-decoration: none;
                    font-family: @roboto;
                    font-size: 14px; font-weight: 400; color: #fff;
                    i.fa{
                        font-size: 15px; color: #fff;
                    }
                }
                a:hover,
                a:focus{
                    color: #eb222b;
                    i.fa{
                        color: #eb222b;
                    }
                }
            }
        }
        p{
            display: block;
            padding: 0; margin: 0px;

            font-family: @roboto;
            font-size: 13px; font-weight: 300; color: #232733;
        }
        p.phones_foot{
            font-size: 15px; font-weight: 400; color: #232733; margin-bottom: 5px;
            i.fa{
                color: #4c4c4c; font-size: 17px;
            }
        }

        ul{
            display: block; margin: 0; padding: 0;
            li{
                display: block;
                padding: 2px 0;
                a{
                    font-family: @roboto;
                    font-size: 12px; font-weight: 500; color: #b9b9b9;
                    text-transform: uppercase; letter-spacing: 1px;
                }
                a:hover,
                a:focus{
                    color: #636363; text-decoration: none;
                }
            }
        }

        dl.dl-horizontal{
            dt{
                width: 36px;
                text-align: left;
            }
            dd{
                margin-left: 36px;
                font-size: 14px; font-weight: 700; color: #fff;
                font-family: @roboto; padding-bottom: 8px;
                a{
                    font-size: 14px; font-weight: 700; color: #fff;
                    font-family: @roboto; text-decoration: none;
                }
            }
            margin-bottom: 0; padding-bottom: 0;
        }

        padding-bottom: 1.5em;
        clear: both;
    }

    .t-copyrights{
        font-family: @roboto;
        font-size: 9px; font-weight: 400; color: #535353;
        letter-spacing: 0px;
        line-height: 1.6;
        a{
            font-family: @roboto;
            font-size: 9px; font-weight: 400; color: #535353;
        }
        a:hover,
        a:focus{
            text-decoration: none;
             color: #535353;
        }
    }
    clear: both;
}

section.blocks_home_contents5#home-content-5,
section.blocks_home_contents3#home-content-3,
section.blocks_home_contents2#home-content-2,
section.blocks_home_contents1#home-content-1{
    min-height: 650px; height: auto; width: 100%;
    background: url('../images_landing/back-sections_1.jpg') center no-repeat;
    background-size: cover;
    .outers_block_texts{
        padding-top: 7%;
        padding-bottom: 7%;
        .inners{
            h3, p{
                margin: 0; padding: 0; line-height: 1.3;
            } 
            h3{ 
                font-weight: 400; color: #000;
                font-style: italic; text-transform: uppercase;
                // font-size: 38px; 
                font-size: 3.6em;
                b,strong{ font-weight: 900; color: #0155b3; }
                margin-bottom: 0.43em;
                line-height: 1.3;
            }

            p{
                font-weight: 400; color: #000;
                margin-bottom: 1.47em; line-height: 1.69;
                // font-size: 16px; 
                font-size: 1.625em;
            }

            ol{
                li{
                    padding: 11px 0 30px; 
                    font-weight: 400; color: #000;
                    // font-size: 15px;
                    font-size: 1.625em;
                }
            }
        }
    }
    clear: both;
}
section.blocks_home_contents1#home-content-1{
    min-height: inherit;
}
.socials-heads{
    padding-top: 7px;
    a{
        display: inline-block;
        i.fa{
            color: #000; 
            font-size: 2.6em;
        }
    }
    a:hover,
    a:focus{
        i.fa{
            color: #eb222b;
        }
    }
}

section.blocks_home_contents2#home-content-2{
    background-image: url('../images_landing/back-sections_2.jpg');
    min-height: inherit;
    .outers_block_texts{
        padding-top: 7%;
        padding-bottom: 7%;
        .inners{
            h3{
                margin-bottom: 0.57em;
            }
        }
    }
}

section.blocks_home_contents2.back-5#home-content-2{
    background-image: url('../images_landing/back-sections_5.jpg');
    min-height: inherit;
    .outers_block_texts{
        padding-top: 10%;
        padding-bottom: 10%;
        .inners{
            h3{
                margin-bottom: 0.57em;
            }
        }
    }
}

section.blocks_home_contents3#home-content-3{
    background-image: url('../images_landing/back-sections_3.jpg');
    min-height: inherit;
    .outers_block_texts{
        padding-top: 9%;
        padding-bottom: 9%;
        .inners{
            h3, p{
                color: #fff;
            }
            h3{
                margin-bottom: 0.57em;
            }
        }
    }
}

section.blocks_home_contents5#home-content-5{
    background-image: url('../images_landing/backs_bottoms_careers.jpg');
    min-height: inherit;
    background-position: top right;
    .outers_block_texts{
        padding-top: 7%;
        padding-bottom: 7%;
        .inners{
            h3, p{
                color: #000000;
            }
            h3{
                b,strong{ font-weight: 900; color: #0155b3; }
            }
            p{
                margin-bottom: 1.5em;
            }
        }
    }
}

section.blocks_homeContentProducts#home_productsn{
    background-color: #c2c2c2; min-height: 300px; height: auto; width: 100%;
    padding-top: 4em; padding-bottom: 3.5em;

    .inners_content{
        h3, p{
            margin: 0; padding: 0; line-height: 1.3;
        } 
        h3{
            font-size: 38px; font-weight: 700; color: #000;
            font-style: normal;
            b,strong{ font-weight: 900; }
            margin-bottom: 1.5em;
        }

        .lists_products_default{
            .col-md-4{
                border-right: 2px solid #9a9a9a;
            }
            .col-md-4:last-child{
                border-right: 0px;
            }
            .items{
                text-align: left;
                padding: 10px 2.2em 40px; 
                .pictures{
                    img{}
                }
                .info{
                    padding-top: 1.2em;
                    span.categorys{
                        display: inline-block;
                        padding: 5px 7px;
                        background-color: #0155b3;
                        font-family: @roboto; text-transform: uppercase;
                        font-size: 14px; color: #fff; font-weight: 700;
                        margin-bottom: 12px;
                    }
                    .titles-inf{
                        font-family: @roboto; text-transform: uppercase; line-height: 1.3;
                        // font-size: 22px; 
                        font-size: 2.4em;
                        font-weight: 500; color: #000;
                        height: 67px; overflow: hidden;
                        margin-bottom: 0.8em;
                    }
                }
                a.btns_bluedefaults{
                    // padding-left: 30px; padding-right: 30px;
                    // font-size: 20px; 
                    font-size: 2em;
                }
            }
            clear: both;
        }

        clear: both;
    }
}
a.btns_bluedefaults{
    // padding-left: 30px; padding-right: 30px;
    // font-size: 20px;

    font-size: 2.7em;
    padding: 0.2em 1.5em;
    border-radius: 9px;
    font-weight: 800;
}

.blocks_inner_page#inside_page{
    padding: 0px 0 3em;
    .blocks_top_red{
        background-color: #ec1c23;
        padding: 1.5em 0;
        margin-bottom: 2.6em;
    }
    .inners_box{
        color: #606060; font-size: 14px; font-weight: 400; line-height: 1.4;
        p{ margin-bottom: 1em; font-weight: 500; }
        p.red{
            color: #e3081a;
        }
        form{
            .form-group{
                label{
                    font-weight: 500; color: #606060;
                }
            }
            button.btns_submitsn_redform{
                background-color: #e62533;
                font-size: 14px; font-weight: 500; color: #fff; text-transform: uppercase;
            }
        }
        padding-bottom: 2em;

        .lefts_contact{
            p{
                font-size: 16px; color: #000; font-weight: 400; line-height: 1.6;
                a{
                    color: #000; text-decoration: none;
                }
            }
            p.phones{
                font-size: 18px;
                img{
                    max-width: 48px; vertical-align: middle; margin-right: 5px;
                }
                b,strong{ font-size: 16px; }
            }
        }
        clear: both;
    }
    border-bottom: 1px solid #ccc;
}
.backs_home{
    padding-top: 2px;
    a{
        color: #fff;
        font-size: 20px;
    }
    a:hover,
    a:focus{
        text-decoration: none; color: #fff;
        opacity: 0.9;
    }
}

img.pc-center{
    margin: 0 auto;
    display: block;
    text-align: center;
}

.bt-viewon-top{
    position: absolute;
    bottom: -35px; right: 0px;
    z-index: 100;

    position: fixed;
    bottom: 150px;
    right: 15px;
    background-color: rgba(255,255,255,0.9);
}
.bt-viewon-top a{
    width: auto;
    height: auto;
    background-color: transparent;
    border: 2px solid #ddd;
    display: block;
    padding: 0.7em;
}
.bt-viewon-top a i.fa{
    color: rgba(87, 87, 87, 0.7);
    font-size: 20px;
}
.bt-viewon-top a:hover i.fa{ color: rgba(87, 87, 87, 0.99); }

.header-affixs.affix-top{ top: -1000px; position: fixed; visibility: collapse; }
.header-affixs.affix{ top: 0px; left: 0px; }
.header-affixs{
    background-color: rgba(255, 255, 255, 0.90);
    width: 100%;
    z-index: 1000;
    height: 75px;
    border-bottom: 3px solid @color_blue;
    z-index: 1000;
}
.menu-taffix{}
.menu-taffix ul{ margin: 0; padding: 0px; }
.menu-taffix ul li{ padding: 0px; padding: 0 8px; }
.menu-taffix ul li a{ font-size: 11px; font-weight: 700; color: #606060; text-decoration: none; text-transform: uppercase; }
.menu-taffix ul li.active a,
.menu-taffix ul li a:hover{ text-decoration: none; color: @color_blue; }

.carousel.fade {
    opacity: 1;
}
.carousel.fade .item {
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    left: 0 !important;
    opacity: 0;
    top:0;
    position:absolute;
    width: 100%;
    display:block !important;
    z-index:1;
}
.carousel.fade .item:first-child {
    top:auto;
    position:relative;
}
.carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    z-index:2;
}

// -------------------- Back Top --------------------
#back-top {
    color: #FFF;
    background: none repeat scroll 0% 0% #FFF;
    font-size: 20px;
    line-height: 100%;
    display: inline-block;
    position: fixed;
    z-index: 500;
    right: 0px;
    bottom: 0px;
    width: 35px;
    height: 35px;
    text-align: center;
    top: inherit !important;
    border: 1px solid #c5c5c5;
    border-right: 0; border-bottom: 0;

    display: none;
}
#back-top i.fa {
    color: #565656;
}

.flexslider ul.slides{
    margin: 0px !important;
}

.blocks_top_red{
    h3{
        margin: 0; margin-bottom: 0;
    }
}

// ------------ Video Section

.video-header{height: 100vh;
         display: flex;
         align-items: center;
         color: #fff;
    
}
.wrap{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin:auto;
    text-align: center;
    
}
.fullscreen-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    
}
.fullscreen-video-wrap video{
    min-height: 100%;
    min-width: 100%;
    
}


.alert.fade{
    opacity: 1 !important;
}
.alert.alert-success{
    color: #fff;
    background-color: #018aea;
    border-color: #018aea;
    font-size: 1.05em;
    i.fa{
        font-size: 1.1em;
    }
}