
.inside_pg_outer{
	position: relative;
	
	clear: both;
}

.insides_toppage_blocks{
  img{
    width: 100%;
  }
  .blocks_bottom_intop_page.pg_about{}

  .posn_block_text{
    position: absolute; bottom: 0px; left: 0px; width: 100%;
    z-index: 6;
    .box-text-illustration{
      background-color: rgba(195, 158, 29, 0.85);
      padding: 25px 29px;
      max-width: 525px; margin-bottom: 32px;
      h3, span{
        display: block; margin: 0; padding: 0; line-height: 1.2;
      }
      span{
        font-family: @roboto; font-size: 12px; font-weight: 500; color: #fff; text-transform: uppercase; letter-spacing: 1px;
        padding-bottom: 4px;
      }
      h3{
        font-family: @lato; font-size: 27px; font-weight: 400; color: #fff;
      }
    }
    .box-text-illustration.contacts{
      max-width: 326px;
    }
  }
  clear: both;
}

.blocks_breadcrumbs_out{
  background-color: #eeeeee;
  min-height: 44px; height: auto;
  .insides{
    background-color: #fff; height: 44px;
    position: relative; top: -20px;
    nav{
      ol.breadcrumb{
      background-color: transparent; 
      // padding: 0px; 
      margin: 0;
        li{
          font-family: @roboto; font-size: 12px; font-weight: 500; color: #7c7c7c;
          text-decoration: underline;
          a{
            font-family: @roboto; font-size: 12px; font-weight: 500; color: #7c7c7c;
          }
        }
        li.active{
          color: #b1a033;
        }
      }
    }
    .backs_page{
      text-align: right;
      padding: 0.55rem 1rem;
      a{
        font-family: @roboto; font-size: 12px; font-weight: 500; color: #7c7c7c; text-decoration: underline;
      }
      a:hover,
      a:focus{
        text-decoration: none; color: #585858;
      }
    }
  }
  clear: both;
}

section.default_sc.blocksn_about_tc1#insides_page_about1{
	.prelatife.container{
		padding-top: 0; padding-bottom: 0;
	}
	padding-top: 75px;
	padding-bottom: 220px;
  .insides{
      h4.def-title,
      h2.def-title{
          font-size: 110px; font-weight: 300; line-height: normal;
      }
      h4.def-title{
        font-size: 60px; font-style: italic; font-weight: 400;
      }
      .blocks-widget-pictures{
        .row{
          margin: 0 -7.5px;
          .col-md-6{
            padding: 0 7.5px;
          }

          .col{
            padding: 0px 7.5px;
          }
        }
      }

      clear: both;
  }

	background: none; background-color: #fff;
	clear: both;
}

section.default_sc.blocksn_about_tc2#insides_page_about2{
  width: 100%; background: url('../images/backs-bottoms_about_nmiddles.jpg') no-repeat;
  min-height: 944px; height: auto; background-size: cover;
  .prelatife.container{
    padding-top: 0; padding-bottom: 0;
  }

  .inners-greys-boxSl:before{
    display: inline-block; content: "";
    position: absolute; top: 0px; right: 0px;
    width: 2000px;
    height: 835px;
    background-color: #cac7b3;
  }
  .inners-greys-boxSl{
    position: relative; top: -110px;
    z-index: 2;
    width: 611px; height: 835px;
    background-color: #cac7b3;
    .insides{
      position: relative; z-index: 5;
      padding: 115px 50px 50px 35px;
      
      .blocksn_vision{
        .subs{
          h5, p{
            font-family: @lato;
            display: block; margin: 0; padding: 0;
          }
          h5{
            font-size: 110px; font-weight: 300; color: #fff;
            line-height: 0.9; padding-bottom: 23px;
          }
          p{
            font-size: 24px; font-weight: 300; color: #232733; line-height: 1.4;
          }
          padding-bottom: 60px;
        }
      }

      clear: both;
    }
  }
}
.mb-0{
  margin-bottom: 0 !important;
}
.pb-0{
  padding-bottom: 0 !important;
}
.h200{
  height: 135px;
}

.lists-products-data.inside_page{
  .items{
    padding-bottom: 2.2em;
  }
}
.blocks_grey_inproducts.creams-gold{
  padding: 0;
}
.blocks_grey_inproducts.creams-gold .ins-box{
  padding: 48px 48px 35px;
}
.blocks_grey_inproducts.creams-gold .afters,
.blocks_grey_inproducts.creams-gold:after,
.blocks_grey_inproducts.creams-gold{
    background-color: #f0ebd0 !important;
    height: auto;
    min-height: 450px;
    max-height: inherit;
}

/* ---------------------- advantages sections */
// @import "product_advantages.less";

/* ---------------------- parts sections  */
// @import "part_page.less"; 

/* ---------------------- product detail sections  */
// @import "product_detail.less"; 

.w824{
  max-width: 824px;
}
.pt-15{
  padding-top: 15px;
}
.pb-160{
  padding-bottom: 160px !important;
}

.content-text.contacts_content{
  p{
    b,strong{
      font-weight: 700;
    }
    a{
      font-size: 14px; font-weight: 700; text-decoration: underline;
    }
    a:hover,
    a:focus{
      text-decoration: none; color: #000;
    }
    i.fa{
      font-size: 16px; 
      color: #cdb93c;
    }
  }
}

.blocksn-inners_product_detail{
  .picturesn_detail{
    img{}
  }
  .descriptions{
    h5{
      font-size: 25px; font-weight: 700; color: #232733;
    }
    p{
      font-size: 18px; font-weight: 300; line-height: 1.6;
    }
    table{
      tr{
        th, td{
          border-top: 0; padding: 0px;
          font-size: 18px; font-weight: 300; color: #232733;
        }
      }
      max-width: 415px;
      clear: both;
    }

    .blocksn-buttonsln{
      a.btnslc_cream{
        background: none; box-shadow: none; border-radius: 0px; border: 0px;
        background-color: #cebc40;
        padding: 12px 60px;
        font-family: @roboto;
        font-size: 14px; font-weight: 500; color: #fff; text-transform: uppercase; letter-spacing: 1px;
      }
      a.btnslc_cream:hover,
      a.btnslc_cream:focus{
        opacity: 0.9;
      }
      clear: both;
    }
  }
  clear: both;
}

.mw824{
  min-width: 824px;
}
.m-0{
  margin: 0;
}
.p-0{
  padding: 0;
}

.listsn_gallery_owl.owl-theme{ 
  .owl-nav{
      margin-bottom: 0;

      .owl-prev, .owl-next{
          border:0px; background: none; background-color: transparent; border-radius: 0px;
          width: 11px; height: 19px;
          margin: 0;

          position: absolute;
          top: 30%;
          span{
              visibility: hidden;
              display: none; 
          }
      }
      .owl-prev:hover,
      .owl-prev:focus,
      .owl-next:hover,
      .owl-next:focus{
        color: #000;
        background-color: transparent;
      }
      .owl-prev:hover,
      .owl-prev:focus,
      .owl-prev{
          left: -25px;
          background: url('../images/leftsn-chevrn.png') no-repeat;
      }
      .owl-next:hover,
      .owl-next:focus,
      .owl-next{
          right: -25px;
          background: url('../images/rightsn-chevrn.png') no-repeat;
      }
  }
}

/*----------------------- Midle Text Content -----------------*/
.content-text{
    font-family: @lato;
    font-size: 18px; font-weight: 300; color: #232733;
}
.content-text h1,
.content-text h2,
.content-text h3,
.content-text h4,
.content-text h5{ font-family: @lato; margin: 0; padding: 0; margin-bottom: 30px; color: #232733; }

.content-text h1{ font-size: 68px; font-weight: 400; color: #232733; }
.content-text h2{  }
.content-text h3{ margin: 0px; font-family: @lato; font-size: 35px; font-weight: 300; color: #232733; line-height: normal; }
.content-text h4{ margin: 0px; font-family: @lato; font-size: 30px; font-weight: 300; color: #232733; line-height: normal; }
.content-text h4{ margin: 0px; font-family: @lato; font-size: 27px; font-weight: 300; color: #232733; line-height: normal; }
.content-text h5{ font-family: @lato; font-size: 25px; font-weight: 300; color: #232733; line-height: normal; }
.content-text h2.title_page{
    font-size: 29px;
    font-weight: 700;
    color: #c61d23;
    margin: 0; margin-bottom: 25px;
}

.content-text span{
    margin: 0; padding: 0; display: inline-block;
    margin-bottom: 15px;
    font-size: 19px; font-weight: 400; color: #232733;
    line-height: 1;
}

.content-text p{
    margin: 0; padding: 0;
    margin-bottom: 30px;
    font-size: 18px; font-weight: 300; color: #232733;
    line-height: 1.5;
}

.content-text p a{
    text-decoration: none;
    font-weight: 300;
    color: #000;
}
.pb-0{
	padding-bottom: 0 !important;
}
.bottoms_contact_titles{
	text-align: center;
	h3, h6{
		display: block; margin: 0; padding: 0; font-family: @lato;
		letter-spacing: 6px;
	}
	h6{
		line-height: 0.5; font-size: 20px; font-weight: 700; color: #726e61;
	}
	h3{
		font-size: 68px; font-weight: 700;
		color: #d6d1bf; line-height: 1.1;
	}
}

.box-form.tl-contact-form{
    max-width: 860px; margin: 0 auto;
    background-color: transparent;
    // margin: 0 auto;
    // margin-left: 10px;
    // -webkit-box-shadow: -1px 2px 21px 0px rgba(0, 0, 0, 0.22);
    // -moz-box-shadow:    -1px 2px 21px 0px rgba(0, 0, 0, 0.22);
    // box-shadow:         -1px 2px 21px 0px rgba(0, 0, 0, 0.22);
    p{
        margin: 0; padding: 0;
        font-size: 18px; font-weight: 300; color: #464646;
        margin-bottom: 25px; line-height: 1.2;
    }
    form{
        // max-width: 1055px;
       margin: 0 auto;
       text-align: left;
      .form-group{ 
        margin-bottom: 55px;
        label{
            display: block;
            font-family: @lato;
            font-size: 18px; font-weight: 700;
            color:  #0b2544; 
            text-transform: uppercase;
            margin-bottom: 15px; text-align: left;
        }
        input{
          border:0px;
          font-family: @roboto;
          font-size: 30px;  text-align: left;
          font-weight: 300; color: #8a8a8a;
          background: none; 
          background-color: transparent;
          border-radius: 0px;
          text-shadow:none; box-shadow: none;
          // max-width: 300px;
          border-bottom: 1px solid #d7d7d7;
          height: 35px;
          width: 100%;
        }
        textarea{
            margin: 0;
            background: none;
            background-color: transparent;
            border: 0px;
            box-shadow: none;
            border-radius: 0px;
            border-bottom: 1px solid #d7d7d7;
            font-family: @roboto;
            text-align: left;
            font-size: 18px; 
            font-weight: 400; color: #3e3e3e;
        }
      }

      button.btns-submit-bt{
        background: none; border:0px; border-radius: 0px; box-shadow: none; padding:0;

        background: url('../images/backsn-btn-submit_contacts.png') no-repeat;
        width: 206px; height: 48px;
        min-width: inherit; letter-spacing: 0px;
      }

      button.btns-submit-bt:hover{
        opacity: 0.9;
      }
    }

    .mb15{
        margin-bottom: 15px !important;
    }
    ::-webkit-input-placeholder {
       color: #636368;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: #636368;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: #636368;  
    }

    :-ms-input-placeholder {  
       color: #636368;  
    }
  }
